#dashboard-view {
	padding-top: 60px;
	width: 100%;
	height: 100%;
	display: none;

	.dashboard-top {
		width: 100%;
		height: 250px;
		position: absolute;
		border-top: 10px solid rgba(0,0,0, 0.3);
		box-shadow: 0px 1px 1px #ddd;
	}
}

#dashboard-main-view {
	height: 100%;
	width: 100%;
}

.dashboard-bottom {
	width: 100%;
	height: 100%;
	top: 260px;
	right: 180px;
	position: relative;
}

.dashboard-bottom-left {
	width: 70%;
	display: block;
	background: $primary_white;
	height: 100%;
}
.dashboard-bottom-bottom-right {
	width: 30%;
}
#dashboard-content {
	width: 100%;
	height: 100%;
	background: $user_bg;
	-webkit-transition-property: left;
    -webkit-transition-duration: 0.2s;
    position: relative;
    left: 180px;
    overflow-y: scroll;
}

.dashboard-calendar {
	width: 80%;
	height: 300px;
	float: right;
	margin-right: 40px;
	margin-top: 30px;
	text-align: right;

	h2 {
		font-size: 1.5em;
		font-weight: 100;
		cursor: default;
	}

	.menu {
		position: relative;
		left: 8px;
		li {
			display: inline-block;
			padding: 15px 10px;
			font-size: 1em;
			font-weight: 100;
			color: #999;
			cursor: pointer;

			&.active {
				color: $primary_black;
			}

			&:hover {
				color: $primary_black;
			}
		}
	}
}

.calendar-today {
	.calendar-item {
		position: relative;
		background: #fff;
		height: 45px;
		box-shadow: 0px 0px 1px #777;
		margin-bottom: 15px;
		cursor: pointer;

		li {
			display: inline-block;
			position: absolute;
			line-height: 3em;
			font-weight: 100;

			&.icon {
				position: absolute;
				left: -15px;
				font-size: 1.5em;
				line-height: 1.6em;
				background: #2bbbff;
				color: #fff;
				width: 40px;
				height: 40px;
				text-align: center;
				top: 3px;
				box-shadow: 0px 0px 1px #ddd;
			}

			&.description {
				left: 35px;
			}

			&.close {
				right: 10px;
				bottom: -10px;
				display: none;
			}
		}
	}
}

#dashboard-posts {
float: right;
width: 80%;
position: relative;
.user-post {
width: 85%;
margin-left: 0;
margin-left: 50px;
}
}