.MB-left-app-menu {
	background: $app_menu_grey;
	width: 180px;
	height: 100%;
	float: left;
	border-right: 1px groove #777;
	overflow-y: scroll;
	margin: 0;
	// -webkit-transition-property: left;
	// -webkit-transition-duration: 0.2s;
	left: 0;
	z-index: 99;
	position: absolute;
    .tooltip {
    	position: absolute;
    	z-index: 10000;
    }

	li {
		height: 60px;
		color: $app_menu_font;
		font-size: 0.8em;
		text-align: left;
		line-height: 5em;
		cursor: pointer;
		padding: 0 20px;

		i {
			font-size: 1.5em;
			padding-right: 15px;
		}

		&.half-word-logo {
			background: $app_menu_grey;
			width: 140px;
			z-index: 1000;
			img {
				width: 160px;
				position: relative;
				left: -10px;
			}

			&:hover {
				background: none;
				cursor: default;
				border: none;
			}
		}

		&:hover {
			background: $app_menu_hover_active;
			color: $app_menu_hover_font;
			border-right:8px solid $primary_yellow;
		}

		&.active {
			background: $app_menu_hover_active;
			color: $app_menu_hover_font;
			border-right:8px solid $primary_blue;
		}
	}

	.tooltip-inner {
		padding: 10px;
		font-size: 1.5em;
		font-weight: 100;
	}
}

.MB-left-app-menu-button {
	visibility: hidden;
	width: 45px;
	height: 45px;
	color: $primary_white;
	position: absolute;
	background: $app_menu_grey;
	left: 180px;
	top: 0;
	z-index: 100;
	line-height: 45px;
	text-align: center;
	font-size: 1.5em;
	border: 1px groove #777;
	border-left: none;
	border-top: none;
	cursor: pointer;
}

.scroll-left-menu {
margin-top: 60px;
height: 100%;
position: relative;
z-index: -100;
}

.MB-account-settings-submenu {
	margin: 0;
	display: none;

	li {
	height: 40px;
	line-height: 4em;
	text-align: left;
	display: block;
	padding-left: 50px;
	border-right: 8px solid $primary_yellow;
	font-size: 0.7em;
	padding: 0 15px;
	background: $app_menu_hover_active;

		&:hover {
			background: #353439;
			color: #f4f4f4;
			border-right: 8px solid darken($primary_yellow, 20%);
		}

		&.active {
			color: $primary_white;
			border-right: 8px solid darken($primary_yellow, 20%);		
		}
	}
}
