.user-post {
	width: 70%;
	margin-left: 60px;
	border: 1px solid $d_grey;
	margin-top: 30px;
	color: $d_grey;
	font-weight: 100;
	background: white;
	position: relative;
	border-top: 1px solid $primary_blue;
	.top {
		.user-post-pic {
			width: 40px;
			overflow: hidden;
			margin-right: 15px;
		}
		.left {
			padding: 15px;
			padding-bottom: 0;

			.user-post-details {
				.user-post-details-bottom {
					color: $user_type_active;
					font-size: 0.8em;
					padding-top: 4px;
				}
			}
		}

		.right {
			.post-interactions {

				.post_likes {
					font-size: 0.8em;
					margin-right: -5px;
					color: $primary_blue;
				}

				li {
					width: 30px;
					height: 30px;
					line-height: 2em;
					text-align: center;
					cursor: pointer;
					color: $user_type_active;

					&.no_love {
						color: $primary_blue;
					}

					&:hover {
						color: $post_color;
					}
				}
			}
		}
	}
	.post {
		padding: 15px;
		color: $post_color;
		font-size: 0.8em;

		a {
			color: $post_link;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.bottom {
		background: $fb_lightest_grey;
		border-top: 1px solid $d_grey;

		textarea {
			width: 86%;
			margin: 15px;
			border-radius: 0;
			resize: none;
			box-shadow: none;
			border: 1px solid $d_grey;
			font-size: 0.8em;
			padding-top: 10px !important;
		}
	}
}
.post-error {
	display: none;
	color: $primary_red;
	position: absolute;
	right: 20%;
	bottom: 20px;
}
.user-post-comments {
	.user-post-comment {
		color: $user_type_active;
		font-size: 0.8em;
		padding: 15px;
		.comment-right {
			padding-left: 15px;
			width: 90%;
			position: relative;

			.comment-commenter {
				padding-bottom: 4px;
				.comment-likes {
					font-size: 0.8em;
				}

				.comment-comment {
					color: $post_color;
					line-height: 1.5em;

					a {
						color: $post_link;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			.comment-date {
				font-size: 0.8em;

				.show_love {
					cursor: pointer;
					color: $user_type_active;
					font-size: 1.5em;

					&:hover {
						color: $post_color;
					}
				}
				.no_love {
					cursor: pointer;
					color: $primary_blue;
					font-size: 1.5em;

					&:hover {
						color: $post_color;
					}
				}
			}
		}
		.comment-pic {
			width: 40px;
			height: 40px;
			overflow: hidden;
		}
	}
}

.comment-section {
	.comment-pic {
		position: relative;
		top: 15px;
		left: 15px;
		width: 40px;
	}
}

.comment-instructions {
	float: right;
	position: relative;
	top: -10px;
	right: 15px;
	color: $user_type_active;
	cursor: default;
	font-size:0.7em;
}
.comment-error {
float: left;
position: relative;
left: 10%;
top: -15px;
font-size: 0.8em;
color: $primary_red;
}




















