.MB-education-pricing-grad {
	position: relative;
	top: 162px;
	margin-top: -150px;
}
.MB-pricing-plans {
	top: 50px;
	position: relative;
	.plan {
		width: 300px;
		height: 320px;
		padding: 30px 10px;
		background: #f3f3f3;
		margin-right: -6px;
		display: inline-table;
		border: 1px solid #ddd;

		&.popular {
			background: $primary_blue;
			height: 360px;
			position: relative;
			top: -20px;
			width: 320px;
			box-shadow: 0px 3px 10px $primary_grey;
			border: 0;
			color: $primary_white;

			.description {
			padding-bottom: 20px;
			}
			.pricing-select {
				.pricing {
					.price { color: $primary_white;}
				}
			}
		}
		.title {
			font-size: 1.5em;
			font-weight: bold;
		}
		.seperator {
			width: 100%;
			height: 1px;
			background: $primary_white;
			margin: 10px 0;
			}
			.benefits {
				height: 120px;
			}
			.pricing-select {
				padding: 0 15px;

				.pricing {
					float: right;

					.attributes {
						float: left;
						text-align: right;
						.term {
							font-size: 0.8em;
							}
						}
					.price {
						float: right;
						font-size: 3em;
						line-height: 60px;
						padding-left: 15px;
						color: $primary_blue;
					}
				}
				.disclaimer {
					clear: both;
					font-size: 0.6em;
					text-align: right;
					font-style: italic;
				}

			}
	}
}