.MB-teamMember-name {
	text-align: center;
	font-size: 3em;
	font-weight: bold;
	text-transform: uppercase;
}

.MB-teamMember-title {
	text-align: center;
	font-size: 1.5em;
	line-height: 1.5em;
	color: $primary_blue;
}

.MB-teamMember-bio {
	width: 45%;
	padding: 10px;
	font-weight: 100;
	line-height: 1.5em;
}
.MB-teamMember-photo {
	width: 50%;
}

.MB-seperator {
	width: 100%;
	height: 1px;
	background: $primary_light_grey;
	display: block;
	margin-bottom: 20px;
}

.MB-teamMember-subHeader {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.2em;
	padding: 20px 0;
}

.MB-teamMember-skills {
width: 50%;
}

.MB-teamMember-social {

	li {
		font-size: 2em;
		display: inline-block;
		margin-right: 30px;
		cursor: pointer;

		&:hover {
			color: #2bbbff;
		}
	}

}

#MB-team-section {

	.MB-team-photos {
		li {
			display: inline-block;
			margin-right: 50px;
			cursor: pointer;

			.view {
				line-height: 200px;
				font-weight: 100;
				text-transform: uppercase;
				position: absolute;
				width: 200px;
				height: 200px;
				border-radius: 200px;
				font-family: $primary_font;
				font-size: 2em;
				color: $primary_blue;
				display: none;

			}

			.MB-team-photo {
				border-radius: 200px;
				width: 200px;
				height: 200px;
				-webkit-transition: all 0.3s;
	           -moz-transition: all 0.3s;
				transition: all 0.3s;


				&:hover {
					.view {
						display: block;
					}
				}

				&.fara {
					background: url('../../img/baby_fara.jpg') no-repeat;
					background-size: 516px;
					background-position: -141px -70px;

					&:hover {
						background: url('../../img/fara.jpg') no-repeat;
						background-size: 340px;
						background-position: right;
					}
				}
				&.earl {
					background: url('../../img/baby_earl.jpg') no-repeat;
					background-size: 497px;
					background-position: -123px -42px;

					&:hover {
						background: url('../../img/earl.jpg') no-repeat;
						background-size: 215px;
						background-position: center;
					}
				}
				&.clee {
					background: url('../../img/baby_clee.jpg') no-repeat;
					background-size: 428px;
					background-position: -109px -23px;

					&:hover {
						background: url('../../img/clee.jpg') no-repeat;
						background-size: 288px;
						background-position: -4px -16px;
				}
			}
		}
	}

	.MB-team-info {
		font-family: $primary_font;
		.name {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1em;
			padding: 10px 0;
		}
		.title {
			font-style: italic;
	
	}	}
	}
}

#clee-view, #fara-view, #earl-view {
	.MB-modal-body {
		width: 100%;
		margin-right: auto;
		margin-left: auto;
		padding: 25px;
		background: transparent;
	}
}