.MB-button {
	font-family: $primary_font;
	padding: 15px 24px;
	margin-left: 5px;
	font-size: 18px;
	font-weight: 300;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: none;
	font-weight: 100;
	text-decoration: none;

	a {
		text-decoration: none;
	}

	&.med-size {
		width: 70px;
		margin-left: 30px;
	}

	&.small {
		font-size: 15px;
		padding: 10px 20px;
	}

	&.primary {
		background-color: $primary_blue;
		color: $primary_white !important;

		&:hover {
			background-color: $primary_blue_hl !important;
			text-decoration: none;
		}
	}
	&.secondary {
		background-color: $primary_yellow;
		color: $primary_black !important;

		&:hover {
			background-color: $primary_yellow_hl !important;
			text-decoration: none;
		}
	}

	&.primary, &.secondary {
		text-shadow: none !important;
	}
}

.MB-features {
	padding-top: 50px;
	text-align: center;
	.MB-feature {
		display: inline-block;
		font-family: $primary_font;
		text-align: center;
		width: 300px;
		margin-bottom: 50px;
		position: relative;

		.bt-steps-link {
			background: url("../../img/steps-link.png") no-repeat left top transparent;
			width: 189px;
			height: 26px;
			position: absolute;
			right: -106px;
			top: 46px;
			}

		.title {
			font-size: 1.5em;
			line-height: 2em;

			&.bold {
				font-weight: bold;
				color:$primary_grey;
			}
		}
		.subtitle {
			font-size: 1em;
			color: $primary_blue;
		}
		.about {
			height: 80px;
			font-size: 0.9em;
			line-height: 2em;
		}
	}
}

.MB-benefits {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.MB-benefit {
	margin-bottom: 30px;

	h4 {
		font-weight: bold;
		font-size: 1.2em;
		line-height: 2em;
	}
	p {
		font-size: 0.9em;
	}
}

.MB-icon {
	width: 90px;
	height: 90px;
	display: inline-block;
	font-size: 80px;
	color: $primary_black;

	&.small {
		color: $primary_blue;
		font-size: 40px;
	}

	&.smaller {
		color: $primary_blue;
		font-size: 30px;
		line-height: 120px;
	}
}
.modal-show #MB-modal {
	visibility: visible;
	opacity: 1;
}
#MB-modal {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 50%;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 255%, rgba(255, 255, 255,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 );

	.modal {
		width: 60%;
		margin: 0 auto;
		top: 10px;
		background: none;
		padding: 34px 24px 48px;
		position: relative;
		z-index: 2000;
		left: -50%;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.MB-modal-close {
			position: absolute;
			right: 0;
			top: 10px;
			cursor: pointer;

			.MB-icon {
				font-size: 4em;
				color: $primary_black;
				width: 100%;
				height: 100%;

				&:hover {
					color: $primary_blue;
				}
			}
		}
	}
}

.MB-skillbar {
	width: 100%;
	height: 35px;
	display: block;
	background: rgba(0, 0, 0, 0.04);
	margin-bottom: 10px;
	position: relative;

	.skill-title {
		font-size: 12px;
		font-weight: 100;
		position: absolute;
		padding: 5px 10px;
		color: $primary_white;
		z-index: 1;
		background: transparent;
		line-height: 25px;
		text-transform: uppercase;
	}

	.skill-percentage {
		background-color: $primary_blue;
		height: 35px;
	}
}