.MB-button {
	font-family: $primary_font;
	padding: 15px 24px;
	font-size: 18px;
	font-weight: 300;
	text-shadow: none;
	font-weight: 100;
	text-decoration: none;
	font-size: 0.9em !important;
	border-radius: 0;
	border: 0;
	&:disabled {
		&:hover {
			cursor: not-allowed;
		}
	}


	&:focus {
		outline: none;
	}

	a {
		text-decoration: none;
	}

	&.med-size {
		width: 70px;
		margin-left: 30px;
	}

	&.small {
		font-size: 15px;
		padding: 10px 20px;
	}

	&.login {
		padding: 10px 140px;
		border-radius: 0;
		top: 20px;
		position: relative;
		}
	&.facebook {
		background-color: #4c66a4 !important;
		border-radius: 0;
	}
	&.linkedin {
		background-color: #006699 !important;
		border-radius: 0;
	}
	&.primary {
		background-color: $primary_blue;
		color: $primary_white !important;

		&:disabled {
			background-color: $primary_blue_hl !important;

			&:hover {
				background-color: $primary_blue_hl !important;
				cursor: not-allowed;
			}
		}

		&:hover {
			background-color: $primary_blue_hl !important;
			text-decoration: none;
		}
	}
	&.ghost {
		background: transparent;
		border: 2px solid rgba(255, 255, 255, 0.4);
		color: $primary_white !important;
		text-shadow: none !important;
		height: 15px;
		line-height: 15px;
		&:hover {
			border: 2px solid $primary_white;
			color: $primary_white;
			text-decoration: none;
		}
	}
	&.fog {
		background: rgba(255, 255, 255, 0.2);
		border: none;
		text-shadow: none !important;
		color: $primary_white !important;
		border: 3px solid transparent;

		&:hover {
			background-color: rgba(255,255,255,0.4) !important;
			text-decoration: none;
		}
	}
	&.secondary {
		background-color: $primary_yellow;
		color: $primary_black !important;

		&:disabled {
			background-color: $primary_yellow_hl !important;

			&:hover {
				background-color: $primary_yellow_hl !important;
				cursor: not-allowed;
			}
		}

		&:hover {
			background-color: $primary_yellow_hl !important;
			text-decoration: none;
		}
	}

	&.fullReg {
		width: 465px;
		border: 0;
		border-radius: 0;
	}

	&.loginFullreg {
		width: 400px;
		border: none;
		border-radius: 0;
		text-transform: uppercase;
	}

	&.fullLog {
		width: 350px;
		border: 0;
		border-radius: 0;
	}

	&.primary, &.secondary {
		text-shadow: none !important;
	}
}

.MB-features {
	padding-top: 50px;
	text-align: center;
	.MB-feature {
		display: inline-block;
		font-family: $primary_font;
		text-align: center;
		width: 300px;
		margin-bottom: 50px;
		position: relative;

		.bt-steps-link {
			background: url("../../img/steps-link.png") no-repeat left top transparent;
			width: 189px;
			height: 26px;
			position: absolute;
			right: -106px;
			top: 46px;
			}

		.title {
			font-size: 1.5em;
			line-height: 2em;

			&.bold {
				font-weight: bold;
				color:$primary_grey;
			}
		}
		.subtitle {
			font-size: 1em;
			color: $primary_blue;
		}
		.about {
			height: 80px;
			font-size: 0.9em;
			line-height: 2em;
		}
	}
}

.MB-benefits {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
}

.MB-benefit {
	margin-bottom: 30px;

	h4 {
		font-weight: bold;
		font-size: 1.2em;
		line-height: 2em;
	}
	p {
		font-size: 0.9em;
	}
}

.MB-icon {
	width: 90px;
	height: 90px;
	display: inline-block;
	font-size: 80px;
	color: $primary_blue;

	&.small {
		font-size: 40px;
	}

	&.smaller {
		font-size: 30px;
		line-height: 120px;
	}
}
.modal-black-show #MB-modal-black, .modal-black-show #MB-confirm {
	visibility: visible;
	opacity: 1;
}

.modal-white-show #MB-modal-white {
	visibility: visible;
	opacity: 1;
}

.modal-bg-show #MB-modal-bg {
	visibility: visible;
	opacity: 1;
}


#MB-modal-white {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 50%;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0.95) 255%, rgba(255, 255, 255,0.95) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 );

	.modal {
		width: 450px;
		margin: 0 auto;
		top: 10px;
		background: none;
		padding: 34px 24px 48px;
		position: relative;
		z-index: 2000;
		left: -50%;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.body {
			text-align: center;
		}

		.MB-modal-close {
			position: absolute;
			right: 0;
			top: 10px;
			cursor: pointer;

			.MB-icon {
				font-size: 4em;
				color: $primary_black;
				width: 100%;
				height: 100%;

				&:hover {
					color: $primary_blue;
				}
			}
		}
	}
}

#MB-modal-black {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 50%;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 255%, rgba(0, 0, 0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9ffffff', endColorstr='#d9ffffff',GradientType=0 );

	.modal {
		width: 60%;
		margin: 0 auto;
		top: 10px;
		background: none;
		padding: 34px 24px 48px;
		position: relative;
		z-index: 2000;
		left: -50%;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.body {
			text-align: center;
		}

		.MB-modal-close {
			position: absolute;
			right: 0;
			top: 10px;
			cursor: pointer;

			.MB-icon {
				font-size: 4em;
				color: $primary_white;
				width: 100%;
				height: 100%;

				&:hover {
					color: $primary_blue;
				}
			}
		}
	}
}

#MB-modal-bg {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 50%;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	.modal {
		width: 60%;
		margin: 0 auto;
		top: 10px;
		background: none;
		padding: 34px 24px 48px;
		position: relative;
		z-index: 2000;
		left: -50%;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.body {
			text-align: center;
		}

		.MB-modal-close {
			position: absolute;
			right: 0;
			top: 10px;
			cursor: pointer;

			.MB-icon {
				font-size: 4em;
				color: $primary_white;
				width: 100%;
				height: 100%;

				&:hover {
					color: $primary_blue;
				}
			}
		}
	}
}

#MB-confirm {
	position: fixed;
	top: 0;
	left: 0;
	padding-left: 50%;
	width: 100%;
	height: 100%;
	z-index: 1000;
	overflow-y: auto;
	visibility: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	backface-visibility: hidden !important;
	-webkit-backface-visibility: hidden !important;
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;

	.modal {
		margin: 0 auto;
		top: 25%;
		background: $primary_white;
		width: 45%;
		z-index: 2000;
		left: 30%;
		border: none;
		border-radius: 0;
		box-shadow: none;

		.confirm-body {
			line-height: 2em;
			font-weight: 100;
		}
		.body {
			text-align: center;
		}
		.confirm-header h3 {
			font-size: 1.2em;
			font-weight: bold;
		}

		.MB-modal-close {
			position: absolute;
			right: 0;
			top: 10px;
			cursor: pointer;

			.MB-icon {
				font-size: 4em;
				color: $primary_white;
				width: 100%;
				height: 100%;

				&:hover {
					color: $primary_blue;
				}
			}
		}
	}
}

.MB-skillbar {
	width: 100%;
	height: 35px;
	display: block;
	background: rgba(0, 0, 0, 0.04);
	margin-bottom: 10px;
	position: relative;

	.skill-title {
		font-size: 12px;
		font-weight: 100;
		position: absolute;
		padding: 5px 10px;
		color: $primary_white;
		z-index: 1;
		background: transparent;
		line-height: 25px;
		text-transform: uppercase;
	}

	.skill-percentage {
		background-color: $primary_blue;
		height: 35px;
	}
}

.MB-scrollDown-indicator {
	font-size: 80px;
	position: absolute;
	bottom: 50px;
	color: $primary_yellow;
	margin-left: -10px;
}

/* SQUARED ONE */
.squaredOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.squaredOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.squaredOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
