#user-view {
	margin-top: -15px;
	width: 100%;
	height: 100%;
}

.MB-user-profile-top {
	width: 100%;
	min-height: 180px;
	top: 60px;
	background: $primary_white;
	box-shadow: 0px 0px 2px #999;
	position: absolute;
	right: 0;

	h2 {
		font-size: 1em;
		line-height: 0;
		padding: 0;
		margin: 0;
		margin-top: -10px;
	}

	.top {
		height: 90px;
		position: absolute;
		width: 100%;
		box-shadow: 0px 1px 2px $devil_grey;

		.edit-profile-button {
			font-size: 0.8em;
			right: 10px;
			top: 30px;
			width: 122px;
			height: 35px;
			line-height: 2.9em;
			background: rgba(0,0,0,0.2);
			color: $primary_white;
			font-weight: 100;
			border-radius: 5px;
			position: absolute;
			padding-right: 5px;
			padding-left: 5px;
			cursor: pointer;
			text-align: center;

			&:hover {
				font-weight: bold;
			}

			i {
				padding-right: 10px;
			}
		}
	}
}

.MB-user-profile-photo {
	width: 140px;
	height: 140px;
	border-radius: 100px;
	overflow: hidden;
	float: left;
	margin: 20px 30px;
	display: inline-block;
	position: absolute;
	top: 0;

	img {
		width: 100%;
		height: 100%;
	}

	.upload-pic {
		position: relative;
		display: none;
		label.filebutton {
		    width: 140px;
			height: 140px;
			overflow: hidden;
			position: absolute;
			background-color: transparent;
			cursor: pointer;
		}

		label span input {
		    z-index: 999;
		    line-height: 0;
		    font-size: 50px;
		    position: absolute;
		    top: -2px;
		    left: -700px;
		    opacity: 0;
		    filter: alpha(opacity = 0);
		    -ms-filter: "alpha(opacity=0)";
		    cursor: pointer;
		    _cursor: hand;
		    margin: 0;
		    padding:0;
		}
		.pic-upload-spinner {
			position: absolute;
			z-index: 100;
			font-size: 3em;
			text-align: center;
			width: 140px;
			height: 140px;
			line-height: 140px;
			color: $primary_white;
			cursor: default;
			display: none;
		}
		.pic-upload-button {
			position: absolute;
			z-index: 100;
			font-size: 3em;
			text-align: center;
			width: 140px;
			height: 140px;
			line-height: 140px;
			color: $primary_blue;

			&:hover {
				color: $primary_white;
			}
		}
	}
}

.MB-user-profile-top-info {
	display: inline-block;
	width: 50%;
	position: absolute;
	left: 200px;
	top: -45px;

	.user-profile-status {
		font-size: 0.9em;
		padding: 0;
		margin: 0;
		margin-top: -10px;
	}


	h1 {
		padding-top: 55px;
		font-size: 3em;
		color: $primary_white;
		font-weight: 100;
		text-shadow: 0px 0px 2px #000;
		font-family: $cursive_font;
		display: inline-block;
	}

	h2 {
		padding-left: 4px;
		padding-bottom: 20px;
		color: #fff;
		text-shadow: 0px 0px 2px #000;
	}
}

.MB-user-profile-quick-links {
	display: inline-block;
	right: 260px;
	position: absolute;
	top: 30px;

	.MB-user-profile-quick-link {
		display: inline;
		width: 100%;
		padding: 10px;
		line-height: 3em;
		font-size: 0.8em;
		font-weight: 100;
		color: #fff;
		border-top: none;
		border-right: none;
		cursor: pointer;
		background: rgba(0,0,0,0.2);
		border-radius: 4px;

		&.disabled {
			color: $devil_grey;
			&:hover {
				color: $primary_yellow;
			}
		}

		i {
			font-size: 1em;
			padding-right: 15px;
		}

		&:hover {
			color: $primary_yellow;

			i {
				color: $primary_yellow;
			}
		}

		&.last {
			border-bottom: none;
		}

	}
}

.MB-user-profile-top-social-links {
	position: absolute;
	bottom: -38px;
	top: 75px;
	z-index: 1;
	right: 90px;

	li {
		width: 35px;
		height: 35px;
		background: rgba(0,0,0,0.3);
		display: inline-block;
		text-align: center;
		line-height: 35px;
		color: $primary_white;
		font-size: 1em;
		cursor: pointer;
		border-radius: 5px;


		&:hover {
			color: $primary_white;
			font-size: 1.1em;
			position: relative;
		}
	}
}


.MB-user-star {
	display: inline-block;
	color: $primary_yellow;
	font-size: 1.5em;
	cursor: pointer;
}


.MB-user-profile-bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	right: 0;
	top: 241px;
	background: $user_bg;
	padding-bottom: 150px;

	.user-profile-left {
		width: 30%;
		height: 100%;
		position: absolute;
		padding-left: 30px;
	}
	.user-profile-right {
		width: 70%;
		height: 100%;

		.user-profile-wall-poster {
			width: 70%;
			margin-left: 60px;
			border: 1px solid $d_grey;
			margin-top: 30px;
			color: $d_grey;
			font-weight: 100;
			background: $primary_white;
			position: relative;

			.user-profile-wall-poster-top {
				padding: 0 15px;

				textarea {
					width: 98%;
					border-radius: 0;
					border: 1px solid $d_grey;
					height: 80px;
					margin: 15px 0;
					resize: none;
				}
			}

			.user-profile-wall-poster-bottom {
				background: $fb_lightest_grey;
				text-align: right;
				border-top: 1px solid $d_grey;

				.right-button {
					padding: 10px;
				}

				.user-post-type {
					float: left;
					height: 60px;
					font-size: 1.5em;
					margin: 0;

					li {
						width: 60px;
						border-right: 1px solid $d_grey;
						height: 100%;
						line-height: 2.5em;
						text-align: center;
						float: left;
						color: $user_type;
						cursor: pointer;

						&:hover {
							color: $user_type_active;
						}

						&.active {
							background: $primary_white;
							padding-top: 1px;
							position: relative;
							top: -1px;
							color: $user_type_active;
						}
					}
				}

			}
		}
	}
}

.user-posts {
padding-bottom: 100px;
}


.user-profile-section {
	background: $primary_white;
	margin: 30px 15px;
	border: 1px solid $d_grey;
	cursor: default;

	h1 {
		font-weight: bold;
		float: left;
		font-size: 1em;
		line-height: 0;
	}

	p {
		font-size: 0.8em;
		line-height: 2em;
	}
	.top {
		background: $fb_lightest_grey;
		padding: 10px 15px;
		border-bottom: 1px solid $d_grey;

		.user-profile-edit-section {
			font-size: 0.8em;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	.bottom {
		padding: 15px;

		h2 {
			text-transform: capitalize;
			font-weight: 100;
			font-size: 0.8em;
			padding: 20px 0;
			line-height: 0;
			margin: 0;
		}
	}
}

.user-profile-skill {
	display: inline-block;
	background: $primary_blue;
	padding: 10px;
	cursor: pointer;
	color: $primary_white;
	font-weight: 100;
	font-size: 0.8em;
	text-transform: capitalize;
	border-radius: 20px;
}

.user-profile-stats {
	position: absolute;
	right: 200px;
	bottom: 0;
	width: 150px;
	height: 90px;

	.user-profile-connections-stats {
		width: 90px;
		height: 90px;
		position: absolute;
		cursor: pointer;

		&:hover {
			color: $primary_black;
		}

		.top {
			box-shadow: none;
			font-size: 3em;
			text-align: center;
			line-height: 1.5em;
			color: $post_color;
		}

		.bottom {
			position: absolute;
			bottom: 10px;
			text-align: center;
			left: 5px;
		}
	}
}
