#user-view {
	margin-left: 180px;
	margin-top: -15px;
}

.MB-user-profile-top {
	width: 100%;
	min-height: 180px;
	margin-top: 15px;
	background: #fff;
	box-shadow: 0px 0px 2px #999;
	position: relative;

	.top {
		height: 90px;
		position: absolute;
		width: 100%;
		box-shadow: 0px 1px 2px $devil_grey;

		.edit-profile-button {
			font-size: 0.8em;
			right: 10px;
			top: 30px;
			width: 122px;
			height: 35px;
			line-height: 2.9em;
			background: rgba(0,0,0,0.2);
			color: #fff;
			font-weight: 100;
			border-radius: 5px;
			position: absolute;
			padding-right: 5px;
			padding-left: 5px;
			cursor: pointer;
			text-align: center;

			&:hover {
				font-weight: bold;
			}

			i {
				padding-right: 10px;
			}
		}
	}
}

.MB-user-profile-photo {
	width: 140px;
	height: 140px;
	border-radius: 100px;
	overflow: hidden;
	float: left;
	margin: 20px 30px;
	display: inline-block;
	position: absolute;
	top: 0;
}

.MB-user-profile-top-info {
	display: inline-block;
	width: 50%;
	position: absolute;
	left: 200px;
	top: -45px;


	h1 {
		padding-top: 60px;
		font-size: 3em;
		color: $primary_white;
		font-weight: 100;
		text-shadow: 0px 0px 2px #000;
		font-family: $cursive_font;
		display: inline-block;
	}

	h2 {
		padding-left: 4px;
		padding-bottom: 20px;
		color: #fff;
		text-shadow: 0px 0px 2px #000;
	}
}

.MB-user-profile-quick-links {
	display: inline-block;
	right: 30px;
	position: absolute;
	top: 30px;

	.MB-user-profile-quick-link {
		display: inline;
		width: 100%;
		padding: 10px;
		line-height: 3em;
		font-size: 0.8em;
		font-weight: 100;
		color: #fff;
		border-top: none;
		border-right: none;
		cursor: pointer;
		background: rgba(0,0,0,0.2);
		border-radius: 4px;

		&.disabled {
			color: $devil_grey;
			cursor: not-allowed;

			&:hover {
				color: $devil_grey;
			}
		}

		i {
			font-size: 1em;
			padding-right: 15px;
		}

		&:hover {
			color: $primary_yellow;

			i {
				color: $primary_yellow;
			}
		}

		&.last {
			border-bottom: none;
		}

	}
}

.MB-user-profile-top-social-links {
	position: absolute;
	bottom: -38px;
	top: 75px;
	z-index: 1;
	right: 30px;

	li {
		width: 35px;
		height: 35px;
		background: rgba(0,0,0,0.3);
		display: inline-block;
		text-align: center;
		line-height: 35px;
		color: $primary_white;
		font-size: 1em;
		cursor: pointer;
		border-radius: 5px;


		&:hover {
			color: $primary_white;
			font-size: 1.1em;
			position: relative;
		}
	}
}


.MB-user-star {
	display: inline-block;
	color: $primary_yellow;
	font-size: 1.5em;
	cursor: pointer;
}












