$primary_blue: #2bbbff;
$primary_yellow: #ffe42b;
$primary_black: #000;
$primary_grey: #525252;
$primary_dark_grey: #838383;
$primary_white: #fff;
$primary_blue_hl: darken($primary_blue, 20%);
$primary_yellow_hl: darken($primary_yellow, 15%);
$primary_grey_hl: lighten($primary-grey, 10%);
$primary_light_grey: #F4F4F4;
$primary_darker_light_grey: darken($primary_light_grey, 10%);
$primary_green: #629A40;
$primary_red: #CD0000;
$app_menu_grey: #3B3A3F;
$app_menu_settings: #5a5961;
$dashboard_bg: #EDEFF0;
$dashboard_offset: #D9DDE0;
$light_grey: #ccc;
$top_app_menu_bg: #EFF0F0;
$devil_grey: #666;
$app_menu_hover_active: #353439;
$app_menu_font: #848488;
$darker_grey: #333;
$app_menu_hover_font: #f4f4f4;
$task_table_bg: #FAFAFB;
$task_table_header_bg: #4D4C50;
$tasks_table_td_bg: #D7D7D9;

.glass-effect {
	box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.3), 0px 2px 3px 0px rgba(0, 0, 0, 0.6);
}

$primary_blue_rgb: rgb(43, 187, 255);
$primary_yellow_rgb: rgb(255, 228, 43);

@include font-face("Open Sans", font-files("../../fonts/opensans/regular.ttf"));
@include font-face("Desyrel", font-files("../../fonts/desyrel/desyrel.ttf"));
@include font-face("Lotte", font-files("../../fonts/lotte/lotte.ttf"));
@include font-face("Ethon Black", font-files("../../fonts/ethon/ethon_black.ttf"));
@include font-face("Ethon Roman", font-files("../../fonts/ethon/ethon_roman.ttf"));

$primary_font: "Open Sans";
$cursive_font: "Desyrel";
$lotte_font: "Lotte";
$ethon_black: "Ethon Black";
$ethon_roman: "Ethon Roman";

.unselectable {
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.placeholderHIW {
	margin-top: 30px;
}

.MB-boardroom-bg {
	background: url('../../img/login_bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
    -moz-background-size: cover;
}

.MB-office-bg {
	background: url('../../img/office_bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
    -moz-background-size: cover;
}

.MB-mail-bg {
	background: url('../../img/mail_bg.jpg') no-repeat;
	background-position: center;
	background-size: cover;
    -moz-background-size: cover;
}

.MB-waiting-bg {
	background: url('../../img/waiting.jpg') no-repeat;
	background-position: top;
	background-size: cover;
    -moz-background-size: cover;
}

.MB-waiting-two-bg {
	background: url('../../img/waiting2.jpg') no-repeat;
	background-position: 100px -120px;
	background-size: cover;
    -moz-background-size: cover;
}

.MB-lightGrey-bg {
	background-color: $primary_light_grey;
}
.MB-white-bg {
	background-color: $primary_white;
	box-shadow: 0px 0px 2px $primary_grey;
}

.MB-geom-bg {
	background: url('../../img/geometry.png');
	box-shadow: 0px 0px 2px $primary_grey;
}
.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.clear-both {
	clear: both;
}

.noShadow {
	box-shadow: none;
	text-shadow:none;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.plus150 {
	padding-top: 150px;
}

.top52 {
	margin-top: 52px;
}

.plus100 {
	padding-top: 100px;
}