.container-fluid {
	padding: 0px;
	height: 100%;

	.hero-unit {
		height: 100%;
		border-radius: 0px;
		text-align: center;
		margin-bottom: 0;
		font-family: $primary_font;
		padding: 0;
		box-shadow: 0px 0px 4px $primary_black;

		.MB-message {
			width: 100%;
			z-index: 2;
			position: absolute;
			top: 30%;
			font-family: $primary_font;
			color: $primary_white;
			text-align: center;

			.or-learnMore {
				display: block;
				margin-top: 30px;
				padding-left: 30px;
				color: white;
				font-size: 0.8em;
			}

			.MB-big-social {
				font-size: 2.5em;
				padding-left: 30px;
				padding-top: 20px;
				padding-bottom: 15px;
				color: $primary_blue;

				li {
					display: inline-block;
					margin-right: 30px;
					cursor: pointer;

					&:hover {
						color: $primary_blue_hl;
					}
				}
			}

			p {
				width: 55%;
				font-weight: 100;
				line-height: 2em;
				font-size: 1em;
				padding-left: 30px;
				padding-bottom: 30px;
				margin-left: auto;
				margin-right: auto;

				i {
					font-size: 1.5em;
					padding: 0 10px;
				}
			}
			h1 {
				font-size: 5em;
				padding-left: 30px;
				font-weight: bold;
			}
		}

		lede {
			width: 70%;
			display: block;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			padding-top: 20px;
		}

		&.gut {
			margin-top: 75px;
			margin-bottom: -50px;
		}

		&.full {
			height: 100%;
		}

		&.topGut {
			margin-top: -28px;
			position: relative;
			z-index: -1;
		}
	}
}

#MB-team-section, #MB-gutter-section, #MB-features-section, #MB-pricing-section, #MB-contact-section {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	text-align: center;
	margin-bottom: -230px;

	h1 {
		font-family: $primary_font;
		font-size: 2.5em;
		font-weight: 100;
		text-transform: uppercase;
		line-height: 2.5em;
	}
}

#MB-features-section {
	margin-bottom: -220px;
}

#MB-gutter-section {
	height: 100px;
	margin-bottom: 0;

	&.medium {
		height: 160px;
	}

	p {
		font-size: 2em;
		color: $primary_white;
		font-family: $primary_font;
		font-weight: 100;
		line-height: 30px;
	}
	.author {
		font-size: 0.5em;
		display: block;
	}
	.icon-under, .author {
		color: $primary_yellow;
		position: absolute;
		right: 0;
		left: 0;
	}

	.business_man {
		-moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        float: left;
		margin-top: -62px;
		width: 450px;
	}
}

#MB-contact-section {
	padding-bottom: 0px;
	#MB-main-contact-form {
		margin-right: auto;
		margin-left: auto;
		width: 680px;

		.MB-contact-left {
			float: left;

			input {
				width: 300px;
				height: 40px;
				display: block;
				border-radius: 0px;
				border: 1px solid $primary_black;
				font-family: $primary_font;
				font-weight: 100;
				font-size: 0.7em;
			}
		}

		.MB-contact-right {
			textarea {
				width: 340px;
				height: 98px;
				border:  1px solid $primary_black;
				border-radius: 0px;
				display: inline-block;
				font-family: $primary_font;
				font-weight: 100;
				font-size: 0.7em;
			}
			button {
				width: 350px;
				height: 51px;
				border:  1px solid $primary_black;
				font-size: 1.3em;
				background-color: $primary_yellow;
				color: $primary_black;
			}
		}
		#MB-contact-error-msg {
			width: 680px;
			height: 60px;
			display: block;
		}
	}
}

#MB-team-section {

	.MB-team-photos {
		li {
			display: inline-block;
			margin-right: 50px;
			cursor: pointer;

			.view {
				line-height: 200px;
				font-weight: 100;
				text-transform: uppercase;
				position: absolute;
				width: 200px;
				height: 200px;
				border-radius: 200px;
				font-family: $primary_font;
				font-size: 2em;
				color: $primary_blue;
				display: none;

			}

			.MB-team-photo {
				border-radius: 200px;
				width: 200px;
				height: 200px;
				-webkit-transition: all 0.3s;
	           -moz-transition: all 0.3s;
				transition: all 0.3s;


				&:hover {
					.view {
						display: block;
					}
				}

				&.fara {
					background: url('../../img/baby_fara.jpg') no-repeat;
					background-size: 516px;
					background-position: -141px -70px;

					&:hover {
						background: url('../../img/fara.jpg') no-repeat;
						background-size: 340px;
						background-position: right;
					}
				}
				&.earl {
					background: url('../../img/baby_earl.jpg') no-repeat;
					background-size: 497px;
					background-position: -123px -42px;

					&:hover {
						background: url('../../img/earl.jpg') no-repeat;
						background-size: 215px;
						background-position: center;
					}
				}
				&.clee {
					background: url('../../img/baby_clee.jpg') no-repeat;
					background-size: 428px;
					background-position: -109px -23px;

					&:hover {
						background: url('../../img/clee.jpg') no-repeat;
						background-size: 500px;
						background-position: -240px -50px;
					}
				}
			}
		}
	}

	.MB-team-info {
		font-family: $primary_font;
		.name {
			font-weight: bold;
			text-transform: uppercase;
			font-size: 1em;
			padding: 10px 0;
		}
		.title {
			font-style: italic;
		}
	}
}