<div id="account-general-view">
	<div id="account-gen-box">
		

		<div id="account-gen-container">
			<h1 class="account-head">General Settings</h1>
		<h4>Update your personal information.</h4>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">User-Type:</p></div>
				<div class="gen-input-line">
					<input type="text" value="{{user.personal.user_type}}" id="" class="gen-input" disabled="disabled">
				</div>
			</div>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">Profile ID:</p></div>
				<div class="gen-input-line">
					<input type="text" id="" disabled="disabled" value="{{user.profileURL}}" class="gen-input">
				</div>
			</div>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">Name:</p></div>
				<div class="gen-input-line">
					<input type="text" value="{{user.personal.fname}}" class="fName gen-input">
					<input type="text" value="{{user.personal.lname}}" class="lName gen-input">
				</div>
			</div>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">Email:</p></div>
				<div class="gen-input-line">
					<input type="text" value="{{user.personal.email}}" class="gen-input">
				</div>
			</div>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">Phone:</p></div>
				<div class="gen-input-line">
					<input type="text" value="{{user.personal.phone}}" class="gen-input">
				</div>
			</div>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">Job Title:</p></div>
				<div class="gen-input-line">
					<input type="text" value="{{user.personal.job_title}}" class="gen-input">
				</div>
			</div>
			<div class="account-gen-line">
				<div class="gen-label-line"><p class="acc-p">Name:</p></div>
				<div class="gen-input-line">
					<select class="gen-input">
							<option>Actively Seeking Employment</option>
							<option>Currently Employed</option>
							<option>Hired</option>
							<option>Not Actively Seeking Employement</option>
					</select>
				</div>
			</div>

			<button class="MB-button noire">Save</button>	

		</div>
	</div>	

			
</div>
	