<div id="account-media-view">
	<div class="row">
	<div class="span11">
				<h1 class="account-head">Social Media Links</h1>
				<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	</div>

	<div class="row">
		<div class="span7 offset1">
			<div class="well">
				<div class="input-prepend">
 					<span class="add-on"><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>
				<div class="input-prepend">
 					<span class="add-on"><a href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>
				<div class="input-prepend">
 					<span class="add-on"><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>
				<div class="input-prepend">
 					<span class="add-on"><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>
				<div class="input-prepend">
 					<span class="add-on"><a href="http://www.github.com" target="_blank"><i class="fa fa-github-alt"></i></a></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>
				<div class="input-prepend">
 					<span class="add-on"><a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>
				<div class="input-prepend">
 					<span class="add-on"><i class="fa fa-globe"></i></span>
  					<input class="span2" id="prependedInput" type="text" placeholder="Username">
				</div>

			</div>	
		</div>
	</div>
	<hr>
	<div class="row">
		<span class="span7 offset1">Test</span>
		
	</div>
</div>