<div id="account-view hide-nav" style="height: 100%">
	
	<div class="MB-modal-body">
	<div class="container">


		<div class="headspace">
			<div class="row greyheader">
				<div class="span12">
				</div>
			</div>
		</div>
		<div class="row MB-row-space">
			<div class="span1 MB-user-align">
				<span class="fa-stack fa-lg">
				<i class="fa fa-square-o fa-stack-2x"></i>	
				<i class="fa fa-user fa-stack-1x"></i>

				</span>
			</div>
			<div class="span11">
				<h1 id="account-head">Account</h1>
				<h4>Update account details, email notification, preferred date format etc.</h4>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="span2">
				<ul class="MB-account-nav-links nav nav-tabs nav-stacked" id="accountNav"> <!-- Inserted nav-tabs -->
					<li id="" data-navigate="general" class="active"><i class="fa fa-cog"></i><br>General</li>
					<li id="" data-navigate="nots"><i class="fa fa-bell"></i><br>Notifications</li>			
					<li id="" data-navigate="pay"><i class="fa fa-money"></i><br>Payments</li>				
					<li id="" data-navigate="support"><i class="fa fa-wrench"></i><br>Support</li>
				</ul>
			</div>
			<div class="span10">
				<div class="MB-account-window content" id="accountViewRegion"></div>
			</div>
			</div>
		</div>
		</div>
	</div>
</div>