<div id="account-view hide-nav">
	
	<div class="MB-modal-body">
	<div class="container">

		<hr>
		<div class="row">
		<div class="span12 MB-window-bg"> 			
				<div class="span9 MB-db0">

					<div class="MB-account-window content" id="accountViewRegion"></div>
				</div>
				<div class="span2 Account-ul-style">

					<div class="MB-user-photo-frame">
					<div class="MB-user-photo">
						<img src="../../../img/earl.jpg">
						<span id="photo-username">{{user.fname}} {{user.lname}}</span>
					</div>		
					</div>

							</div>	
		 </div> 
		</div>
		</div>
	</div>
</div>