<div id="account-password-view">

	<div class="row">
	<div class="span11">
				<h1 class="account-head">Account Security</h1>
				<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	</div>
	<hr>

	<div class="row">
		<div class="span7 offset1">
			<label class="acclabstyle">Current Password :</label>
			<input type="password" id="oldpass" class="inputlength inputbordernone" value="{{user.password}}">
			<label class="acclabstyle">Enter New Password :</label>
			<input type="password" id="newpass" class="inputlength inputbordernone">
			<label class="acclabstyle">Confirm New Password :</label>
			<input type="password" id="confirmpass" class="inputlength inputbordernone">
			<button class="MB-button noire">Save</button>

		</div>
	</div>

	<hr>
	
</div>