<div id="account-password-view">

	<div class="row">
	<div class="span11">
				<h1 class="account-head">Account Security</h1>
				<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	</div>
	<hr>

	<div class="row">
		<div class="span6 offset1">
			<label>Current Password :</label>
			<input type="password" id="oldpass" class="passlength" value="{{user.password}}">
			<label>Enter New Password :</label>
			<input type="password" id="newpass" class="passlength">
			<label>Confirm New Password :</label>
			<input type="password" id="confirmpass" class="passlength">

		</div>
	</div>

	<hr>
	
</div>