<div id="account-payement-view">
	<div class="top-stretch"></div>
	<div class="top -account-banner">
		<h1 class="account-head">Account Payments</h1>
		<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	
	<div id="account-pay-box">
		<div id="account-pay-container">
			<div class="account-pay-line-top">
			</div>
			<div class="account-cc-line">
				<div id="cc-front" class="glass-effect">
					<img src="../../../img/blue_bird_head.png" id="MB-logo-two">
					<div id="cc-front-top-line">
						<p><img src="../../../img/logo-words-bk.png" id="cc-logo"></p>
						<img src="../../../img/blue_bird_head.png" id="MB-logo">
					</div>
					<img src="../../../img/chip_card.png" id="chip-card">
					<div id="cc-number-line">
						<label>Card Number</label>
						<input type="text">
					</div>
					<div id="cc-bottom-line">
						<div id="cc-name">
							<label>Name on Card</label>
							<input type="text" id="card-name">
						</div>
						<div id="cc-expire">
							<div id="cc-label">
								<label>Expiration Date</label>
							</div>	
							<div id="cc-dropdown">
      							<select name="cc-month" class="dropdown-select">
							    	<option value="">Select…</option>
							        <option value="1">Option #1</option>
							        <option value="2">Option #2</option>
							        <option value="3">Option #3</option>
								</select>
								/
      							<select name="cc-year" class="dropdown-select">
							    	<option value="">Select…</option>
							        <option value="1">Option #1</option>
							        <option value="2">Option #2</option>
							        <option value="3">Option #3</option>
								</select>
							</div>

						</div>
					</div>	
				</div>
				<div id="cc-back" class="glass-effect">
					<div id="cc-back-clear"></div>
					<div id="cc-back-black-strip">
					</div>
					<div id="cc-card-strip">
						<div id="cc-sign">&nbsp;</div>
						<div id="cc-code">
							<label>CV Code</label>
							<input type="text" id="cv-code" placeholder="&#8226;&#8226;&#8226;">
						</div>	
					</div>
					<div id="cc-card-disclosure">
						<p>Your card information will not be used for anything other than increasing the balance to your account. Stored card information will not be shared with any third parties. Cardholder agrees to the Electronic Fund Transfer Agreement and described in Mockitbrd Terms and Conditions.</p>
					</div>
					<img src="../../../img/mockit_brd.png" id="cc-back-img">
					<div id="cc-copy"><p>&copy;Mockitbrd 2014</p></div>
				</div>
				<div class="clear-both"></div>
				<div id="check-box">
					<div id="check-container">
						<div id="check-top-line">
							<div id="address">
								<p>Earlie Clark</p>
								<p>123 Main Street</p>
								<p>Washington DC</p>
							</div>
							<div id="date">November 12, 2012</div>
						</div>
						<div class="clear-both"></div>
						<div id="check-pay-line">
							<div id="pay-order">
								<p><span>pay to the<br> order of</span></p>
							</div>
							<div id="pay-company">
								<p>MockitBrd</p>
							</div>
							<div id="pad-dollar-sign"><i class="fa fa-usd fa-lg"></i></div>
							<div id="pay-no">
								<p>25.00</p>
							</div>
						</div>
						<div id="check-dollar-line">
							<div id="pay-dollars">
								<p>Dollars</p>
							</div>
							<div id="pay-secure">
								<i class="fa fa-lock fa-2x"></i>
							</div>
						</div>
						<div id="check-bank">
							<p>Earlie's Bank</p>
						</div>
						<div id="check-memo-line">
							<div id="pay-memo">
								<p>MEMO</p>
							</div>
							<div id="pay-sig">
								<p>Earlie Clark</p>
								<p class="pull-right">MP</p>
							</div>
						</div>
						<div class="clear-both"></div>
						<div id="check-account-line">
							<div class="pay-account-font"><p>a</p></div>
							<div id="pay-account-no">
								<input type="text" id="pay-account-no" placeholder="1010144674909">
							</div>
							<div id="pay-route-no">
								<input type="text" id="pay-route-no" placeholder="055003201">
							</div>
							<div class="pay-account-font"><p>1069d</p></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>	
	<div>
		<p>This is a test</p>
	</div>

</div>
	
