<div id="account-notifications-view">
	<div class="row">
	<div class="span11">
				<h1 class="account-head">Notifications</h1>
				<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	</div>
	<hr>
	<div class="row">
	

		<div class="span5">

			<span id="notifiy-head">Notifications</span>
			<div id="option-specify">
			<span id="email-head">Email</span>
			<span id="text-head">Text</span>
			</div>
			<hr>
			<div class="row">
			<div class="span5">
				<span class="notify-option">Messages</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<hr>
			<div class="row">
			<div class="span5">
				<span class="notify-option">New Connection</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<hr>
			<div class="row">
			<div class="span5">
				<span class="notify-option">Interview Requests</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<hr>
			<div class="row">
			<div class="span5">
				<span class="notify-option">Interview Modifications</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<hr>
			<div class="row">
			<div class="span5">
				<span class="notify-option">Interview Alert Proximity</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
				<div class="row">
					<div class="span5">
						<p>Alert time prior to interview: </p>

							<div class="pull-right">
							<label class="checkbox inline">
								<input type="checkbox"> 15 min
							</label>
							<label class="checkbox inline">
								<input type="checkbox"> 30 min
							</label>
							<label class="checkbox inline">
								<input type="checkbox"> 60 min
							</label>
							</div>
							
			
	
					</div>
				</div>
			</div>	
			</div>

		</div>
	</div>
</div>