<div id="account-password-view">
	<div class="top-stretch"></div>
	<div id="top-account-banner">
		<h1 class="account-head">Account Security</h1>
		<h4>Change your password, and manage blocked users.</h4>
	</div>
	
	<div id="account-pass-box">
		<div id="account-pass-box-head" class="section-head">Manage Your Password</div>
		<div id="account-pass-container">
			<div class="account-pass-line">
				<div class="pass-label-line"><p>Current Password:</p></div>
				<div class="pass-input-line">
					<input type="password" id="oldpass" class="gen-input" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" value="{{user.password}}">
				</div>
			</div>
			<div class="account-pass-line">
				<div class="pass-label-line"><p>Enter New Password:</p></div>
				<div class="pass-input-line">
					<input type="password" id="newpass" class="gen-input" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" value="{{user.password}}">
				</div>
			</div>
			<div class="account-pass-line">
				<div class="pass-label-line"><p>Confirm New Password:</p></div>
				<div class="pass-input-line">
					<input type="password" id="confirmpass" class="gen-input" placeholder="&#8226;&#8226;&#8226;&#8226;&#8226;&#8226;" value="{{user.password}}">
				</div>
			</div>
		</div>
		<div id="block-user-head" class="section-head">Manage Your Blocked Users</div>
		<div id="block-user-container" class="section-head">
			<div id="block-user-body">

			</div>
		</div>
		<button class="MB-button noire">Save</button>
	</div>


</div>