<div id="account-support-view">
	<div class="row">
	<div class="span11">
				<h1 class="account-head">Technical Support</h1>
				<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	</div>
	<hr>
	<div class="row">
		<div class="span4 offset1">
			<label class="acclabstyle">Name :</label>
			<input type="text" class="inputlength inputbordernone" value="{{user.fname}}">
			<label class="acclabstyle">Email :</label>
			<input type="text" class="inputlength inputbordernone">
			<label class="acclabstyle">Message :</label>
			<textarea id="supportmessage" class="inputlength inputbordernone" rows="5"></textarea>
			<button class="MB-button noire">Save</button>
		</div>
		<div class="span3"><span id="helptext">You can also send email support requests to:</span> 
			<p id="helpemail">help@mockitbrd.com</p>

		</div>
	</div>
</div>