<div id="account-notifications-view">
	<div class="top-stretch"></div>
	<div class="top -account-banner">
		<h1 class="account-head">Notifications</h1>
		<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>
	<div id="account-not-box">
		<div id="account-not-box-head" class="section-head"></div>
		<div id="account-not-container">
			<div class="account-not-line-top">
				<p>Notifications</p>
				<div class="not-type">
					<p>Email</p>
					<p>Text</p>
				</div>
			</div>
			<div class="clear-both"></div>
			<div class="account-not-line">
				<p>New Connection</p>
				<div class="not-type">
					<input type="checkbox">
					<input type="checkbox">
				</div>
			</div>
			<div class="clear-both"></div>
			<div class="account-not-line">
				<p>Interview Requests</p>
				<div class="not-type">
					<input type="checkbox">
					<input type="checkbox">
				</div>
			</div>
			<div class="clear-both"></div>
			<div class="account-not-line">
				<p>Interview Modifications</p>
				<div class="not-type">
					<input type="checkbox">
					<input type="checkbox">
				</div>
			</div>
			<div class="clear-both"></div>
			<div class="account-not-line">
				<p>Account Settings Updates</p>
				<div class="not-type">
					<input type="checkbox">
					<input type="checkbox">
				</div>
			</div>
			<div class="clear-both"></div>
		</div>
	</div>	


	<div class="account-box">
		<span id="notifiy-head">Notifications</span>
			<div id="option-specify">
			<span id="email-head">Email</span>
			<span id="text-head">Text</span>
			</div>
			<div class="row">
			<div class="span7">
				<span class="notify-option">Messages</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<div class="row">
			<div class="span7">
				<span class="notify-option">New Connection</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<div class="row">
			<div class="span7">
				<span class="notify-option">Interview Requests</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<div class="row">
			<div class="span7">
				<span class="notify-option">Interview Modifications</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
			</div>	
			</div>
			<div class="row">
			<div class="span7">
				<span class="notify-option">Interview Alert Proximity</span>
				<div class="Not-check-option">
				<input type="checkbox">
				<input type="checkbox">
				</div>
				<div class="row">
					<div class="span5">
						<p>Alert time prior to interview: </p>

							<div class="pull-right">
							<label class="checkbox inline">
								<input type="checkbox"> 15 min
							</label>
							<label class="checkbox inline">
								<input type="checkbox"> 30 min
							</label>
							<label class="checkbox inline">
								<input type="checkbox"> 60 min
							</label>
							</div>
							
			
	
					</div>
				</div>
			</div>	
			</div>

		<button class="MB-button noire">Save</button>

	</div>
</div>