<div id="account-media-view">
	<div class="top-stretch"></div>
	<div class="top-account-banner">
		<h1 class="account-head">Social Media Links</h1>
		<h4>Update user notifications, email notification, preferred date format etc.</h4>
	</div>	

	<div id="account-soc-box">
		<div id="account-soc-box-head" class="section-head">Manage Your Social Media Links</div>
		<div id="account-soc-container">


			<div class="account-soc-line">

				<div class="soc-label-line">
					<div class="acc-p"><p>Facebook</p></div>
					<div class="input-prepend">
						<span class="add-on"><a href="http://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.facebook.url}}">
					</div>
				</div>


				<div class="soc-label-line">
					<div class="acc-p"><p>Instagram</p></div>
					<div class="input-prepend">
						<span class="add-on"><a href="http://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.instagram.url}}">
					</div>
				</div>	

				<div class="soc-label-line">
					<div class="acc-p"><p>Twitter</p></div>
					<div class="input-prepend">
						<span class="add-on"><a href="http://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.twitter.url}}">
					</div>
				</div>
					
				<div class="soc-label-line">	
					<div class="acc-p"><p>Github</p></div>
					<div class="input-prepend">
						<span class="add-on"><a href="http://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.linkedin.url}}">
					</div>
				</div>


				<div class="soc-label-line">
					<div class="acc-p"><p>Linkedin</p></div>
					<div class="input-prepend">			
						<span class="add-on"><a href="http://www.github.com" target="_blank"><i class="fa fa-github"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.github.url}}">
					</div>
				</div>
	

				<div class="soc-label-line">
					<div class="acc-p"><p>Google Plus</p></div>
					<div class="input-prepend">
						<span class="add-on"><a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.google-plus.url}}">
					</div>
				</div>

				<div class="soc-label-line">
					<div class="acc-p"><p>Website</p></div>
					<div class="input-prepend">
						<span class="add-on"><i class="fa fa-globe"></i></a></span>
						<input class="soc-input" id="prependedInput" type="text" placeholder="URL" value="{{user.social.link.url}}">
					</div>
				</div>

			</div>
		</div>
		<button class="MB-button noire">Save</button>
	</div>

</div>