<div id="contact-view">
<div class="MB-modal-close">
    <div class="MB-icon">
            <i class="fa fa-times-circle-o"></i>
        </span>
    </div>
</div>
<div class="body">
<div id="MB-contact-section">
        <h1>Contact</h1>
        <p>Give us a shout.. and we'll shout back! (or speak in an indoor voice -- either one, who knows?)</p>
        <form id="MB-main-contact-form">
            <div class="MB-contact-left">
                <input type="text" name="contactName" class="required MB-contact-input-tf" id="contactName" placeholder="Name" keyev="true">
                <input type="text" name="contactEmail" class="required" id="contactEmail" placeholder="E-mail">
                <input type="text" name="contactSubject" class="required" id="contactSubject" placeholder="Subject">
          </div>
          <div class="MB-contact-right">
                <textarea class="required" name="contactMessage" id="contactMessage" rows="" cols="" placeholder="Message"></textarea>
              <button class="MB-contact-submit-button"><i class="fa fa-envelope"></i></button>
              <span id="MB-contact-error-msg" class="alert alert-danger"></span>
          </div>
          <div class="clear-both"></div>
        </form>
    </div>
</div>
</div>