<div id="dashboard-view">
<ul class="MB-user-menu-open">
		<a href="#app/user"><li class="MB-user-menu-item"><i class="fa fa-user"/>My Profile</li></a>
		<a href="#app/user/account"><li class="MB-user-menu-item"><i class="fa fa-wrench"/>Account Settings</li></a>
		<a href="#help"><li class="MB-user-menu-item"><i class="fa fa-question-circle"/>Get Help</li></a>
		<a href="#report_bug"><li class="MB-user-menu-item"><i class="fa fa-comments"/>Report a bug</li></a>
		<li class="MB-user-menu-item last MB-logout"><i class="fa fa-sign-out"/>Logout</li>
	</ul>
</div>