<div class="navbar nav">
    <div class="navbar-inner">
        <a class="MB-nav-logo" href="#"><img src="../../../img/logo-words.png"></a>
        <ul class="nav MB-login-register-nav">
            <li><a class="MB-button primary" href="#login">Login</a></li>
            <li><a class="MB-button secondary" href="#register">Register</a></li>
        </ul>
        <ul class="nav MB-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mockit for <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#educationmore">Education</a></li>
                    <li><a href="#enterprisemore">Enterprise</a></li>
                    <li><a href="#candidateLearnMore">Candidates</a></li>
                    <li><a href="#professionalLearnMore">Professionals</a></li>
                </ul>
            </li>
            <li><a href="#team">Team</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pricing <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#educationpricing">Education</a></li>
                    <li><a href="#enterprisepricing">Enterprise</a></li>
                    <li><a href="#candidatespricing">Candidates</a></li>
                    <li><a href="#professionalspricing">Professionals</a></li>
                </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>