<div class="MB-modal-close">
    <div class="MB-icon">
            <i class="fa fa-times-circle-o"></i>
    </div>
</div>
<div class="body">
	<h1 class="MB-teamMember-name">Earlie Clark</h1>
	<h2 class="MB-teamMember-title">Director of User Experience</h2>
	<span class="MB-seperator"></span>
	<div class="MB-teamMember-photo pull-left"><img src="../../../img/earl.jpg"></div>
	<div class="MB-teamMember-bio pull-right"><p>Earl is a user experience ninja. His design skills are what make MockitBrd so pretty. He is in charge of the Design and Development team and handles anything UX related. Out clients love that he can integrate their brands perfectly and seamlessly with the MocktBrd platform.</p>
		<div class="MB-teamMember-social">
		<h2 class="MB-teamMember-subHeader">Get in touch!</h2>
		<ul class="MB-social-icons">
			<li><i class="fa fa-facebook"></i></li>
			<li><i class="fa fa-twitter"></i></li>
			<li><i class="fa fa-instagram"></i></li>
		</ul>
	</div>
	</div>
	<div class="clear-both"></div>
	<div class="MB-teamMember-skills pull-left">
		<h2 class="MB-teamMember-subHeader">Earls' Skills</h2>
		<div class="MB-skillbar" data-perc="95"><div class="skill-title">Web Design</div><div class="skill-percentage" style="width: 95%;"></div></div>
		<div class="MB-skillbar" data-perc="90"><div class="skill-title">Front-End Web Development</div><div class="skill-percentage" style="width: 75%;"></div></div>
		<div class="MB-skillbar" data-perc="90"><div class="skill-title">UX Design</div><div class="skill-percentage" style="width: 80%;"></div></div>
	</div>
	
</div>