<div class="hero-unit MB-white-bg gut full">
    <h1>Higher Education Plans &amp; Pricing</h1>
    <lede>With no commitments, quick turnaround times, and volume based pricing</lede>
</div>
<div class="hero-unit MB-white-bg full noShadow plus150">
  <h1>Select your plan</h1>
    <ul class="MB-pricing-plans">
        <li class="plan">
          <div class="title">"Intern"</div>
          <div class="description">A package to fit your needs</div>
          <div class="seperator"></div>
          <ul class="benefits">
              <li class="special">Benefit 1</li>
              <li>Benefit 1</li>
              <li >Benefit 1</li>
              <li class="special">Benefit 2</li>
          </ul>
          <div class="seperator"></div>
          <div class="pricing-select">
              <div class="select"></div>
              <div class="pricing">
                  <div class="attributes">
                      <div class="currency">$</div>
                      <div class="term">monthly</div>
                  </div>
                  <div class="price">500</div>
              </div>
              <div class="disclaimer">billed at <span class="yearly-rate">$6000</span>/year</div>
          </div>
        </li>

        <li class="plan popular">
          <div class="title">"Entry Level"</div>
          <div class="description">A package to fit your needs</div>
          <div class="seperator"></div>
          <ul class="benefits">
                <li >Benefit 1</li>
                <li class="special">Benefit 2</li>
                <li class="special">Benefit 3</li>
          </ul>
          <div class="seperator"></div>
          <div class="pricing-select">
              <div class="select"></div>
               <div class="pricing">
                    <div class="attributes">
                        <div class="currency">$</div>
                        <div class="term">monthly</div>
                    </div>
                    <div class="price">875</div>
                </div>
                <div class="disclaimer">billed at <span class="yearly-rate">$10,500</span>/year</div>
          </div>
        </li>

        <li class="plan">
          <div class="title">"VP"</div>
          <div class="description">A package to fit your needs</div>
          <div class="seperator"></div>
          <ul class="benefits">
              <li>Benefit 1</li>
              <li class="special">Benefit 2</li>
              <li class="special">Benefit 3</li>
              <li class="special">Benefit 4</li>
          </ul>
          <div class="seperator"></div>
          <div class="pricing-select">
              <div class="select"></div>
              <div class="pricing">
                  <div class="attributes">
                      <div class="currency">$</div>
                      <div class="term">monthly</div>
                  </div>
                  <div class="price">1500</div>
              </div>
              <div class="disclaimer">billed at <span class="yearly-rate">$18,000</span>/year</div>
          </div>
        </li>

        <li class="plan">
          <div class="title">"CEO"</div>
          <div class="description">A package to fit your needs</div>
          <div class="seperator"></div>
          <ul class="benefits">
              <li class="special">Benefit 1</li>
          </ul>
          <div class="seperator"></div>
          <div class="pricing-select">
              <div class="select"></div>
              <div class="pricing">
                  <div class="call">Call for details</div>
              </div>
              <div class="disclaimer">billed at <span class="yearly-rate">$6000</span>/year</div>
          </div>
        </li>

    </ul>
</div>

