<div class="MB-modal-close">
    <div class="MB-icon">
            <i class="fa fa-times-circle-o"></i>
    </div>
</div>
<div class="body">
	<h1 class="MB-teamMember-name">Fara Ashiru</h1>
	<h2 class="MB-teamMember-title">Director of User Experience</h2>
	<span class="MB-seperator"></span>
	<div class="MB-teamMember-photo pull-left"><img src="../../../img/fara.jpg"></div>
	<div class="MB-teamMember-bio pull-right"><p>Fara is a designer, entrepreneur, developer and avid video game player and movie enthusiast. Fara is a creative person at heart. she possesses a rare quality amongst creatives in that she is able to combine design goals with development requirements while making sure that business and marketing strategies are being met. This combination of talents has allowed MockitBrd to thrive.</p>
	<div class="MB-teamMember-social">
		<h2 class="MB-teamMember-subHeader">Get in touch!</h2>
		<ul class="MB-social-icons">
			<li><i class="fa fa-facebook"></i></li>
			<li><i class="fa fa-twitter"></i></li>
			<li><i class="fa fa-instagram"></i></li>
		</ul>
	</div>
	</div>
	</div>
	<div class="MB-teamMember-skills pull-left">
		<h2 class="MB-teamMember-subHeader">Fara's Skills</h2>
		<div class="MB-skillbar" data-perc="95"><div class="skill-title">Web Design</div><div class="skill-percentage" style="width: 95%;"></div></div>
		<div class="MB-skillbar" data-perc="90"><div class="skill-title">Front-End Web Development</div><div class="skill-percentage" style="width: 95%;"></div></div>
		<div class="MB-skillbar" data-perc="90"><div class="skill-title">Back-End Web Development</div><div class="skill-percentage" style="width: 85%;"></div></div>
		<div class="MB-skillbar" data-perc="90"><div class="skill-title">UX Design</div><div class="skill-percentage" style="width: 80%;"></div></div>
	</div>
	<div class="clear-both">	
</div>
