<div id="interview-view" class="interviewView">
<!-- <button id="screenShareButton"></button>
 --><!--         <p id="subTitle"></p>
 -->	<div id="interview-video">
<!-- 		<div id="localVideo" class="local-video"><img src="../../img/local.jpg"></div>
 -->		<video id="localVideo" class="local-video"><img src="../../img/local.jpg"></video>
<!-- 		<div id="remoteVideo" class="remote-video" autoplay><img src="../../img/remote.jpg"></div>
 -->		<video id="remoteVideo" class="remote-video" autoplay><img src="../../img/remote.jpg"></video>
		<div id="videoStatus" class="video-status">
		</div>
	</div>
	<div id="interview-chat">
		
	</div>
</div>
