<div id="left-app-menu-view">
	<div class="MB-left-app-menu-button fa fa-bars"></div>
	<ul class="MB-left-app-menu">
		<li class="half-word-logo" data-menuItem="home">MB</li>
		<li class="fa fa-dashboard MB-dashboard active left-menu-item" data-menuItem="dashboard"></li>
		<li class="fa fa-user MB-profile left-menu-item" data-menuItem="profile"></li>
		<li class="fa fa-calendar MB-interviews left-menu-item" data-menuItem="interviews"></li>
		<li class="fa fa-envelope MB-invite left-menu-item" data-menuItem="invite"></li>
		<li class="fa fa-search MB-explore left-menu-item" data-menuItem="explore"></li>
		<li class="fa fa-users MB-connections left-menu-item" data-menuItem="connections"></li>
		<li class="fa fa-certificate MB-skills left-menu-item" data-menuItem="skills"></li>
		<li class="fa fa-sign-out MB-logout bottom-out left-menu-item" data-menuItem="sign out"></li>
	</ul>
</div>