<div id="left-app-menu-view">
	<div class="MB-left-app-menu-button fa fa-bars"></div>
	<ul class="MB-left-app-menu">
			<li class="half-word-logo" data-menuItem="home"><img src="../../img/logo-words.png"></li>
			<a href="#dashboard"><li class="MB-dashboard active left-menu-item" data-menuItem="dashboard"><i class="fa fa-dashboard" />Dashboard</li></a>
			<a href="#user/{{user._id}}"><li class="MB-profile left-menu-item" data-menuItem="profile"><i class="fa fa-user" />Profile</li></a>
			<a href="#tasks"><li class="MB-interviews left-menu-item" data-menuItem="tasks"><i class="fa fa-calendar" />Calendar</li></a>
			<a href="#share"><li class="MB-invite left-menu-item" data-menuItem="share"><i class="fa fa-envelope" />Share</li></a>
<!-- 			<li class="MB-explore left-menu-item" data-menuItem="explore"><i class="fa fa-search" />Explore</li>
 -->			<a href="#connections"><li class="MB-connections left-menu-item" data-menuItem="connections"><i class="fa fa-users" />Connections</li></a>
			<a href="#badges"><li class="MB-skills left-menu-item" data-menuItem="badges"><i class="fa fa-certificate" />Badges</li></a>
<!-- 			<li class="MB-Settings bottom-out left-menu-item" data-menuItem="sign out"><i class="fa fa-dashboard" />Settings</li>
 -->
	</ul>
</div>