<div id="left-app-menu-view">
	<div class="MB-left-app-menu-button fa fa-bars"></div>
	<ul class="MB-left-app-menu">
		<li class="half-word-logo" data-menuItem="home"><img src="../../img/logo-words.png"></li>
		<div class="scroll-left-menu">
			<li class="MB-dashboard active left-menu-item" data-menuItem="dashboard"><i class="fa fa-dashboard" />Dashboard</li>
			<li class="MB-profile left-menu-item" data-menuItem="profile"><i class="fa fa-user" />Profile</li>
			<li class="MB-interviews left-menu-item" data-menuItem="interviews"><i class="fa fa-calendar" />Calendar</li>
			<li class="MB-invite left-menu-item" data-menuItem="invite"><i class="fa fa-envelope" />Share</li>
			<li class="MB-explore left-menu-item" data-menuItem="explore"><i class="fa fa-search" />Explore</li>
			<li class="MB-connections left-menu-item" data-menuItem="connections"><i class="fa fa-users" />Connections</li>
			<li class="MB-skills left-menu-item" data-menuItem="skills"><i class="fa fa-certificate" />Badges</li>
			<li class="MB-Settings bottom-out left-menu-item" data-menuItem="sign out"><i class="fa fa-dashboard" />Settings</li>
		</div>
	</ul>
</div>