<div id="login-view">
	<div class="MB-modal-close">
	    <div class="MB-icon">
	            <i class="fa fa-times-circle-o"></i>
	        </span>
	    </div>
	</div>
	<div class="body">

		<button class="MB-button-register"><h1>register</h1></button>
		<div class="MB-space-container">
			<div class="MB-or-space">
        		<hr>
	    		<p>&nbsp;</p>
            </div>
       	 	<div class="MB-or"><p>OR</p>
	    	</div>
			<div class="MB-or-space">
				<hr>
				<p>&nbsp;</p>
		    </div>
		</div>
	

		<form id="MB-login-form">	


		<div class="MB-login-input">

			<div class="MB-login-title"><h1>Login Below</h1></div>
			
			<div class="input-group in-group email-group">
		  		<span class="input-group-addon clear-add"><i class="fa fa-user"></i></span>
				<input type="email" name="email" placeholder="email" class="MB-login-email form-control"/>
			</div>
		    

			<div class="input-group in-group">
				<span class="input-group-addon clear-add"><i class="fa fa-key"></i></span>
				<input type="password" name="password" placeholder="password" class="MB-login-password form-control"/>
			</div>


			<div class="alert alert-danger alert-dismissable MB-login-alert">
				  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				  <span class="MB-login-error"></span>
			</div>

			<div class="MB-login-line">
			<div class="MB-login-line-in">	
				<div class="MB-button-switch switch">
					<input type="checkbox">
					<label><i></i></label> 
				</div>
				<p class="MB-switch-label">Remember Me?</p>
			</div>

			<button class="MB-button primary fullLog MBfL" type="submit">Login</button>

			</div>

			<hr>

			</div>	

			<a href="#">forgot password?</a>

		<div class="MB-login-alt">
			
			<div class="MB-login-login">OR SIGN IN WITH</div>
			<a href="#" id="link-link"><div class="MB-button-size button-link"><i class="fa fa50 fa-linkedin"></i></div></a>
			<a href="#" id="link-twit"><div class="MB-button-size button-twit"><i class="fa fa50 fa-twitter"></i></div></a>
			<a href="#" id="link-face"><div class="MB-button-size button-face"><i class="fa fa50 fa-facebook"></i></div></a>

		</div>
		
	</form>
	</div>
</div>
