<div class="MB-modal-close">
    <div class="MB-icon">
            <i class="fa fa-times-circle-o"></i>
        </span>
    </div>
</div>
<div class="body">
	<form id="MB-login-form">
		<label for="email">Email</label>
		<input type="email" name="email" class="MB-login-email"/>
		<label for="password">Password</label>
		<input type="password" name="password" class="MB-login-password"/>
		<a class="MB-button primary login" href="#">Login</a>
		<div class="MB-login-alt">
			<p>or, login with</p>
			<a class="MB-button primary facebook pull-left" href="#"><i class="fa fa-facebook"></i> Facebook</a>
			<a class="MB-button primary linkedin pull-right" href="#"><i class="fa fa-linkedin"></i> LinkedIn</a>
		</div>
	</form>
</div>