<div class="MB-notification-quick-menu">
    <i class="MB-notificatin-arrow fa fa-caret-up"></i>
    <div class="quick-menu-header">
        <h1>Notifications</h1>
        <ul>
            <li>Mark all as read</li>
            <li class="sep"><i class="fa fa-circle"></i></li>
            <li><a href="#user/{{user._id}}/account/notifications">Settings</a></li>
        </ul>
        <div class="clear-both"></div>
    </div>
    <div class="MB-user-notifications"></div>
    <div class="quick-menu-footer"></div>
</div>