<div class="user-post" id="post_{{post._id}}">
	<div class="top">
		<div class="left pull-left">
			<div class="user-post-pic pull-left"><a href="#user/{{post.user_id}}"><img src="/getUserpic/{{post.user_id}}"></a></div>
			<div class="user-post-details pull-right">
				<div class="user-post-details-top">
					<a href="#user/{{post.user_id}}">{{post.poster}}</a>
				</div>
				<div class="user-post-details-bottom">
					{{post.date}}
				</div>
			</div>
			<div class="clear-both"></div>
		</div>
		<div class="right pull-right">
			<ul class="post-interactions">
				{{#if post.likes_count}}
					<span class="post_likes">{{post.likes_count}}</span>
				{{/if}}
				{{#if post.isLiked}}
					<li class="fa fa-heart no_love"></li>
				{{else}}
					<li class="fa fa-heart-o show_love"></li>
				{{/if}}
				<li class="fa fa-flag"></li>
				<li class="fa fa-share"></li>
				{{#if post.isOwner}}
					<li class="fa fa-times delete-post"></li>
				{{/if}}
			</ul>
		</div>
		<div class="clear-both"></div>
	</div>
	<p class="post">{{{post.post}}}</p>
	<div class="bottom">
			<div class="user-post-comments">
				{{#each post.comments}}
					<div class="user-post-comment">
						<div class="comment-left pull-left">
							<div class="comment-pic"><a href="#user/{{user_id}}"><img src="/getUserpic/{{user_id}}"></a></div>
						</div>
						<div class="comment-right pull-left">
							<div class="comment-commenter">
								<a href="#user/{{user_id}}">{{commenter}}</a>&nbsp;&nbsp;
								<span class="comment-comment">{{{comment}}}</span>
								
								</div>
							<div class="comment-date">{{date}}
								{{#if likes_count}}
									<span class="comment-likes">&nbsp;&nbsp;{{likes_count}}</span>
								{{/if}}
								{{#if isLiked}}
									<i class="fa fa-heart no_love"></i> <span class="comment-likes"> You love this</span>
								{{else}}
									<i class="fa fa-heart-o show_love"></i>
								{{/if}}
							</div>
						</div>
						<div class="clear-both"></div>
					</div>
				{{/each}}
			</div>
			<div class="comment-section">
				<div class="comment-pic pull-left"><a href="#user/{{post.user_id}}"><img src="/getUserpic/{{post.user_id}}"></a></div>
				<textarea class="pull-right" placeholder="Type here to comment.."></textarea>
				<div class="clear-both"></div>
			</div>
		</div>
</div>
