<div class="user-post" id="post_{{post._id}}">
	<div class="top">
		<div class="left pull-left">
			<div class="user-post-pic pull-left"><a href="#user/{{post.user_id}}"><img src="/getUserpic/{{post.user_id}}"></a></div>
			<div class="user-post-details pull-right">
				<div class="user-post-details-top">
					<a href="#user/{{post.user_id}}">{{post.poster}}</a>
				</div>
				<div class="user-post-details-bottom">
					{{post.date}}
				</div>
			</div>
			<div class="clear-both"></div>
		</div>
		<div class="right pull-right">
			<ul class="post-interactions">
				{{#if post.likes_count}}
					<span class="post_likes"  data-postid="{{post._id}}">{{post.likes_count}}</span>
				{{/if}}
				{{#if post.isLiked}}
					<li id="star_{{post._id}}" class="fa fa-star MB-post-like no_love" starevent="unstar" data-postid="{{post._id}}" data-posterid="{{post.user_id}}"></li>
				{{else}}
					<li id="star_{{post._id}}" class="fa fa-star-o MB-post-like show_love" starevent="star" data-postid="{{post._id}}" data-posterid="{{post.user_id}}"></li>
				{{/if}}
				<li class="fa fa-flag"></li>
				<li class="fa fa-share"></li>
				{{#if post.isOwner}}
					<li class="fa fa-times delete-post"></li>
				{{/if}}
			</ul>
		</div>
		<div class="clear-both"></div>
	</div>
	<p class="post">{{{post.post}}}</p>
	<div class="bottom">
			<div class="user-post-comments" id="comments_{{post._id}}"></div>
			<div class="comment-section">
				<div class="comment-pic pull-left"><a href="#user/{{post.currentUser}}"><img src="/getUserpic/{{post.currentUser}}"></a></div>
				<textarea class="comment_area_{{post._id}} pull-right" placeholder="Type here to comment.." data-postid="{{post._id}}" data-poster="{{post.user_id}}"></textarea>
				<div class="comment-error"></div>
				<div class="comment-instructions">Press Enter to submit (Shift + Enter for new line)</div>
				<div class="clear-both"></div>
			</div>
		</div>
</div>
