<div class="hero-unit gut full">
    <h1>Become an Interviewer</h1>
    <lede>Ready to use your professional skills to mold the next generation of industry professionals? Join a commuity that shares your passion</lede>

    <ul class="MB-features">
        <li class="MB-feature">
            <div class="bt-steps-link"></div>
            <div class="number">1</div>
            <div class="MB-icon small">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="title bold">Sign up Online</div>
            <div class="about">Tell us about your skill sets and experiences.</div>
        </li>
        <li class="MB-feature">
            <div class="bt-steps-link"></div>
            <div class="number">2</div>
            <div class="MB-icon small">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="title bold">Test and Train</div>
            <div class="about">Prove you have the right skills and attitude to join MokcitBrd.</div>
        </li>
        <li class="MB-feature">
            <div class="number">3</div>
            <div class="MB-icon small">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-comments fa-stack-1x fa-inverse"></i>
                </span>
            </div>
            <div class="title bold">Ready to Interview</div>
            <div class="about">Interview at your convenience - anytime, anywhere</div>
        </li>
    </ul>

</div>
<div id="MB-gutter-section" class="MB-office-bg medium">
    <img class="business_man" src="../../../img/business_man.png">
    <p><i class="fa fa-quote-left"></i> Signing up was fast, easy, and informative! <i class="fa fa-quote-right"></i> <br> <span class="author">- MockitBrd Member </span><span class="author"><a class="MB-button primary small" href="register">Sign up now!</a></span></p>
</div>
<div class="hero-unit MB-white-bg full">
    <h1>Benefits</h1>
    <lede>A few reasons our community loves MockitBrd</lede>
    <div class="MB-benefits">
       <div class="row-fluid">
           <div class="span6 MB-benefit MB-benefit-left">
               <div class="MB-icon smaller pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
               </div>
               <div class="MB-benefit-text span7">
                   <h4>Flexible</h4>
                   <p>Access to our interview and training platform, whenever you are available</p>
               </div>
           </div>
           <div class="span5 MB-benefit MB-benefit-right pull-right">
               <div class="MB-icon smaller pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-suitcase fa-stack-1x fa-inverse"></i>
                    </span>
               </div>
               <div class="MB-benefit-text span8">
                   <h4>Opportunity</h4>
                   <p>Our candidates need training on a variety of subjects. Challenge yourself to diversify your skills</p>
               </div>
           </div>
       </div>
       <div class="row-fluid">
           <div class="span6 MB-benefit MB-benefit-left">
               <div class="MB-icon smaller pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-dashboard fa-stack-1x fa-inverse"></i>
                    </span>
               </div>
               <div class="MB-benefit-text span7">
                   <h4>Increasing Rewards</h4>
                   <p>Clear path to higher rewards for every interviewer</p>
               </div>
           </div>
           <div class="span5 MB-benefit MB-benefit-right pull-right">
               <div class="MB-icon smaller pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
               </div>
               <div class="MB-benefit-text span8">
                   <h4>Support</h4>
                   <p>Tech support is here to help from the time you sign up</p>
               </div>
           </div>
       </div>
       <div class="row-fluid">
           <div class="span6 MB-benefit MB-benefit-left">
               <div class="MB-icon smaller pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
               </div>
               <div class="MB-benefit-text span7">
                   <h4>Stree-free Payements</h4>
                   <p>We are committed to the utmost transparency and timeliness in our payments, every time</p>
               </div>
           </div>
           <div class="span5 MB-benefit MB-benefit-right pull-right">
               <div class="MB-icon smaller pull-left">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
               </div>
               <div class="MB-benefit-text span8">
                   <h4>Your Community</h4>
                   <p>Be part of a global community, passionate about supporting and learning from you</p>
               </div>
           </div>
       </div>
    </div>

</div>
<div class="hero-unit MB-lightGrey-bg full topGut">
    <h1>How it Works</h1>
    <lede>Tools and processes built with you in mind</lede>
    <img class="placeholderHIW" src="../../../img/placeholderhowitworks.png">
</div>

