<div class="hero-unit">
	<div class="MB-register-switcher candy">
		<input id="mbcandidate" type="hidden" value="0" name="FormModelSignup[candidate]"><input value="0" id="candidate" name="FormModelSignup[candidate]" checked="checked" type="radio">	<label for="candidate" id="interviewee" class="type" onclick="">Candidate</label>
		<span class="divider">OR</span>
		<input id="mbprofessional" type="hidden" value="0" name="FormModelSignup[professional]"><input value="1" id="professional" name="FormModelSignup[professional]" type="radio">	<label for="professional" id="interviewer" class="type" onclick="">Professional</label>
		<span class="slide-button"></span>
	</div>
</div>