<div id="register-view" class="unselectable">
    <div class="MB-modal-close">
        <div class="MB-icon">
                <i class="fa fa-times-circle-o"></i>
            </span>
        </div>
    </div>
    <div class="body">
        <h1>Get Registered</h1>
        <div class="MB-registration-form">
            <h2>Step 1: User Type</h2>
            <div class="MB-choose-user-type">
                <div class="user-type" data-userType="candidate">
                    <i class="fa fa-user icon"></i>
                    <div class="title">Candidate</div>
                </div>
                <div class="user-type no-border" data-userType="interviewer">
                    <i class="fa fa-user icon"></i>
                    <div class="title">Interviewer</div>
                </div>
            </div>

            <h3><a class="reg-roles" href="#">Not sure what to choose?</a></h3>

            <h2>Step 2: Personal Information</h2>
            <input class="MB-reg-input reg-fname" type="text" name="fname" placeholder="First Name"/>
            <i class="reg-fname success fa fa-check-circle"></i>
            <i class="reg-fname fail fa fa-times-circle"></i>

            <input class="MB-reg-input reg-lname" type="text" name="lname" placeholder="Last Name"/>
             <i class="reg-lname success fa fa-check-circle"></i>
            <i class="reg-lname fail fa fa-times-circle"></i>

            <input class="MB-reg-input reg-email" type="email" name="email" placeholder="Email"/>
             <i class="reg-email success fa fa-check-circle"></i>
            <i class="reg-email fail fa fa-times-circle"></i>

            <input class="MB-reg-input reg-password" type="password" name="password" placeholder="Password"/>
             <i class="reg-password success fa fa-check-circle"></i>
            <i class="reg-password fail fa fa-times-circle"></i>

            <input class="MB-reg-input reg-rpassword" type="password" name="rpassword" placeholder="Repeat Password"/>
             <i class="reg-rpassword success fa fa-check-circle"></i>
            <i class="reg-rpassword fail fa fa-times-circle"></i>

            <label class="MB-agree-toc"><input class="MB-agree-toc-box" type="checkbox" name="checkbox" value="value"> I have read and agree to the <a href="#toc">Terms of Conditions</a></label>

            <button data-loading-text="Loading..." class="MB-button primary fullReg" type="submit">Register Now</button>
            <div class="alert alert-danger alert-dismissable MB-reg-alert">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  <span class="MB-reg-error"></span>
            </div>
            <div class="MB-reg-alt">
                <div class="MB-reg-reg">OR REGISTER WITH</div>
                <a href="#" id="link-link"><div class="MB-button-size button-link"><i class="fa fa50 fa-linkedin"></i></div></a>
                <a href="#" id="link-twit"><div class="MB-button-size button-twit"><i class="fa fa50 fa-twitter"></i></div></a>
                <a href="#" id="link-face"><div class="MB-button-size button-face"><i class="fa fa50 fa-facebook"></i></div></a>
        </div>
        </div>
        <div class="MB-reg-success unselectable">
            <div class="MB-reg-success-icon"><i class="fa fa-check-circle "></i></div>
            <p>Thank you for registering <span class="MB-reg-name">Test</span>!</p>
            <p>We have sent an activation link to <span class="MB-reg-email">test@test.com</span>, please click the link in order to login!</p>
        </div>
    </div>
</div>