<div id="register-view">
    <div class="MB-modal-close">
        <div class="MB-icon">
                <i class="fa fa-times-circle-o"></i>
            </span>
        </div>
    </div>
    <div class="body">
        <div class="MB-choose-account-type">
            <div class="account-type" data-accountType="business">
                <i class="fa fa-suitcase icon"></i>
                <div class="title">Business Use</div>
            </div>
            <div class="account-type no-border" data-accountType="personal">
                <i class="fa fa-user icon"></i>
                <div class="title">Personal Use</div>
            </div>
        </div>
        <div class="MB-choose-user-type">
            <div class="user-type" data-userType="interviewer">I'm an Interviewer!</div>
            <div class="or_sep">or</div>
            <div class="user-type" data-userType="candidate">I'm a Candidate</div>
        </div>
        <div class="MB-HE-registration-form MB-reg-form">
        </div>

        <div class="MB-Ent-registration-form MB-reg-form">
        </div>

        <div class="MB-Int-registration-form MB-reg-form">
        </div>

        <div class="MB-Ca-registration-form MB-reg-form">
        </div>
    </div>
</div>