<div id="services-view">
<div id="MB-features-section" class="MB-geom-bg">
        <h1>What We Offer</h1>
        <ul class="MB-features">
            <li class="MB-feature">
                <div class="MB-icon"><i class="fa fa-pencil"></i></div>
                <div class="title">Higher Education</div>
                <div class="subtitle">Business Use</div>
                <div class="about">Increase your hiring rate of new grads.</div>
                <div class="button"><a class="MB-button secondary small" href="#learnmore/education">Learn More</a></div>
            </li>
            <li class="MB-feature">
                <div class="MB-icon"><i class="fa fa-group"></i></div>
                <div class="title">Enterprise</div>
                <div class="subtitle">Business Use</div>
                <div class="about">Increase your candidate hiring rate with a hassle free vetting process.</div>
                <div class="button"><a class="MB-button secondary small" href="#learnmore/enterprise">Learn More</a></div>
            </li>
            <li class="MB-feature">
                <div class="MB-icon"><i class="fa fa-user"></i></div>
                <div class="title">Candidates</div>
                <div class="subtitle">Personal Use</div>
                <div class="about">Be prepared, and get hired for knowing the right answers.</div>
                <div class="button"><a class="MB-button secondary small" href="#learnmore/candidates">Learn More</a></div>
            </li>
            <li class="MB-feature">
                <div class="MB-icon"><i class="fa fa-suitcase"></i></div>
                <div class="title">Professionals</div>
                <div class="subtitle">Personal Use</div>
                <div class="about">Use your valuable professional skills and get rewarded for opening doors.</div>
                <div class="button"><a class="MB-button secondary small" href="#learnmore/professionals">Learn More</a></div>
            </li>
        </ul>
    </div>
     <div id="MB-gutter-section" class="MB-office-bg">
        <p><i class="fa fa-quote-left"></i> Practice ... what you do that makes you good. <i class="fa fa-quote-right"></i> <br> <span class="author">- Malcolm Gladwell </span></p>
    </div>
</div>