<div id="share-view">
	<div id="share-container">
		<div id="share-container-top">

			<img src="../../../img/grad-top.png" id="share-box-img-top">
			<div id="share-box">
				<div id="share-box-header">
				</div>
				<div id="share-box-body">
					<h1>Refer a friend</h1>
					<p>For every 5 new users that you refer to Mockitbrd, you'll be rewarded.</p>
					<p>{{user.fname}} you currently have: </p>
					<p id="refer-no"><span id="share-box-refer-no">"{{user.referrel_count}}"</span></p>
					<p>referred members, why not add more today</p>
					
					<div id="share-body-input">
						<input type="email" id="refer-email" placeholder="Enter Email Address...">
						<input type="submit" id="submit-button">
					</div>	
				</div>
			</div>
		</div>

			<div id="share-social-container">
			<div id="share-social-links">
				<div class="sub-social-text glass-effect"><i class="fa fa-linkedin-square fa-2x pad"></i>
					<p>Refer From LinkedIn</p>
					<div class="sub-social "></div></div>	
				<div class="sub-social-text glass-effect"><i class="fa fa-facebook-square fa-2x pad"></i>
					<p>Refer From Facebook</p>
					<div class="sub-social"></div></div>
				<div class="sub-social-text glass-effect"><i class="fa fa-twitter fa-2x pad"></i>
					<p>Refer From Twitter</p>
					<div class="sub-social"></div></div>
			</div>	
		</div>

		<div id="cleardiv"></div> <!-- Close Clear Div -->		

		<div id="share-container-bottom">
			<div id="share-section-bottom">
				<div class="share-column">
					<div class="share-column-header"><h3 class="column-header">Watch your networks grow</h3></div>
					<h5>Adding users to your personal network exposes you to even more candidtes
					and interviewers on Mockitbrd. You never know who's watching you! </h5>
				</div>
			</div>
		</div>	

		<div id="cleardiv"></div> <!-- Close Clear Div -->

	

		
		<div id="hr-container">
			<div id="hr-section">
				<hr>
			</div>
		</div> <!-- Close HR -->

	</div>
</div>