<div id="tasks-view">
	<div class="MB-submenu">
		<ul class="inner">
			<div class="title">Quick Filters:</div>
			<li data-quickfilter="interviewers">Interviewers</li>
			<li data-quickfilter="candidates">Candidates</li>
			<li data-quickfilter="newest" class="active">Newest</li>
			<li data-quickfilter="popular">Popular</li>
			<li data-quickfilter="featured">Featured</li>
			<li data-quickfilter="active">Most Active</li>
			<li data-quickfilter="connections">My Connections</li>
		</ul>
	</div>
	<div class="task-section">
		<h1 class="account-head">My Calendar</h1>
		<table id="MB-task-box" class="glass-effect">
			<thead>
				<th><input type="checkbox" class="MB-task-checkbox-selectAll"></th>
				<th>Title</th>
				<th>Date</th>
				<th>Type</th>
				<th>Join</th>
				<th>View</th>
			</thead>
			<tbody>
				{{#each tasks}}
				{{#if  isInterview}}
				<tr>
					<td><input type="checkbox" class="MB-task-checkbox" data-taskId="{{_id}}"></td>
					<td>{{title}} interview w/ <a href="#user/{{taskUser._id}}">{{taskUser.fname}} {{taskUser.lname}}</a></td>
					<td>{{date}}</td>
					<td>{{type}}</td>
					<td><a href="#interview/{{_id}}"><button class="MB-button primary small" data-interviewid="{{_id}}">Launch</button></a></td>
					<td><a href="#interview/{{_id}}/edit"><button class="MB-button secondary small" data-interviewid="{{_id}}">View/Edit</button></a></td>
				</tr>
				{{else}}
				<tr>
					<td><input type="checkbox" class="MB-task-checkbox" data-taskId="{{task_id}}"></td>
					<td>{{title}}</td>
					<td>{{date}}</td>
					<td>{{type}}</td>
					<td><a href="#task/{{_id}}"><button class="MB-button primary small" data-taskid="{{_id}}">Launch</button></a></td>
					<td><a href="#task/{{_id}}/edit"><button class="MB-button secondary small" data-taskid="{{_id}}">View/Edit</button></a></td>
				</tr>
				{{/if}}
				{{/each}}
			</tbody>
		</table>
	</div>
</div>