<div id="team-view">
<div id="MB-team-section">
        <h1>Our Team</h1>
        <ul class="MB-team-photos unselectable">
            <li>
                <div class="view"><i class="fa-icon-circle"></i></div>
                <div class="MB-team-photo fara" data-MBteamMemberName="fara"></div>
                <div class="MB-team-info">
                    <h2 class="name">Fara Ashiru</h2>
                    <p class="title">Founder/CTO</p>
                </div>
            </li>
            <li>
                <div class="MB-team-photo clee" data-MBteamMemberName="clee"><div class="view"><i class="fa-icon-circle"></i></div></div>
                <div class="MB-team-info">
                    <h2 class="name">Clee Sherrod</h2>
                    <p class="title">Director of Operations</p>
                </div>
            </li>
            <li>
                <div class="view"><i class="fa-icon-circle"></i></div>
                <div class="MB-team-photo earl" data-MBteamMemberName="earl"></div>
                <div class="MB-team-info">
                    <h2 class="name">Earlie Clark</h2>
                    <p class="title">Director of User Experience</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="MB-gutter-section" class="MB-boardroom-bg">
        <p><i class="fa fa-quote-left"></i> Practice does not make perfect. Only <strong>perfect practice</strong> makes perfect. <i class="fa fa-quote-right"></i> <br> <span class="author">- Vince Lombardi </span></p>
    </div>
</div>