<div id="user-view">
	<div class="MB-user-profile-top">
		<div class="top MB-boardroom-bg">
		</div>
		<div class="MB-user-profile-photo glass-effect"><img src="{{user_pic}}"></div>
		<div class="MB-user-profile-top-info">
			<h1>{{user.fname}} {{user.lname}}</h1>
			{{#if isOwner}}
			{{else}}
				{{#if isStarred}}
				<div class="MB-user-star" data-starEvent="unstar"><i class="fa fa-star"></i></div>
				{{else}}div
				<div class="MB-user-star" data-starEvent="star"><i class="fa fa-star-o"></i></div>
				{{/if}}
			{{/if}}
			{{#if user.location}}
			<h2><i class="fa fa-thumb-tack user_profile_location"> {{user.location}}</i></h2>
			{{/if}}
			{{#if user.job_title}}
		<h3><span class="user_profile_job_title">{{user.job_title}}</span> and <span class="user_profile_job_status">{{user.job_status}}</span></h3>
		{{/if}}
			<ul class="MB-user-profile-top-social-links">
				{{#each user.social_links}}
					<a href="{{url}}" target="_blank"><li class="fa fa-{{type}}"></li></a>
				{{/each}}
			</ul>
		</div>
		{{#if isOwner}}
		<ul class="MB-user-profile-quick-links">
			<li class="MB-user-profile-quick-link MB-edit-profile"><i class="fa fa-pencil"></i>Edit Profile</li>
			<li  class="MB-user-profile-quick-link "><i class="fa fa-share-square-o"></i>Share</li>
		</ul>
		{{else}}
		<ul class="MB-user-profile-quick-links">
			{{#if isConnectedActive}}
			<li class="MB-user-profile-quick-link connected"><i class="fa fa-check"></i>Connected</li>
			{{/if}}
			{{#if notConnected}}
			<li class="MB-user-profile-quick-link"><i class="fa fa-plus"></i>Connect</li>
			{{/if}}
			
			{{#if isConnectedPending}}
			<li class="MB-user-profile-quick-link disabled">Pending</li>
			{{/if}}			
			<li  class="MB-user-profile-quick-link last"><i class="fa fa-share-square-o"></i>Share</li>
		</ul>
		{{/if}}
	</div>
	<div class="MB-user-profile-bottom MB-user-bg">
		<div class="user-profile-left pull-left">
			<div class="user-profile-section">
				<h1>Bio</h1>
				<p>{{user.bio}}</p>
			</div>
			<div class="user-profile-section">
				<h1>Skills</h1>
				{{#each skills}}
					<h2>{{category}}</h2>
					{{#each skills.skill}}
						<div class="user-profile-skill">{{skill}}</div>
					{{/each}}
				{{/each}}
			</div>
		</div>
		<div class="user-profile-right pull-right">
			<div class="user-profile-wall-poster">
				<div class="user-profile-wall-poster-top">
					<textarea placeholder="Type your comment here..."></textarea>
				</div>
				<div class="user-profile-wall-poster-bottom">
					<ul class="user-post-type">
						<li class="fa fa-comments active"></li>
						<!-- <li class="fa fa-link"></li>
						<li class="fa fa-picture-o"></li> -->
					</ul>
					<div class="right-button">
						<button class="MB-button primary small">POST</button>
					</div>
				</div>
			</div>
			<div class="user-posts">
				{{#each posts}}
					<div class="user-post">
						<div class="top">
							<div class="left pull-left">
								<div class="user-post-pic pull-left"><img src="{{user_pic}}"></div>
								<div class="user-post-details pull-right">
									<div class="user-post-details-top">
										<a href="#user/{{user_id}}">{{poster}}</a>
									</div>
									<div class="user-post-details-bottom">
										{{date}}
									</div>
								</div>
								<div class="clear-both"></div>
							</div>
							<div class="right pull-right">
								<ul class="post-interactions">
									<li class="fa fa-heart-o"></li>
									<li class="fa fa-flag"></li>
									<li class="fa fa-share"></li>
									{{#if isOwner}}
										<li class="fa fa-times delete-post"></li>
									{{/if}}
								</ul>
							</div>
							<div class="clear-both"></div>
						</div>
						<p class="post">{{{post}}}</p>
							<div class="bottom">
								<div class="user-post-comments">
									{{#each comments}}
										<div class="user-post-comment">
											<div class="comment-left pull-left">
												<div class="comment-pic"><img src="{{user_pic}}"></div>
											</div>
											<div class="comment-right pull-left">
												<div class="comment-commenter"><a href="#user/{{user_id}}">{{commenter}}</a>&nbsp;&nbsp;<span class="comment-comment">{{{comment}}}</span></div>
												<div class="comment-date">{{date}}</div>
											</div>
											<div class="clear-both"></div>
										</div>
									{{/each}}
								</div>
								<div class="comment-section">
									<div class="comment-pic pull-left"><img src="{{commenter_pic}}"></div>
									<textarea class="pull-right" placeholder="Type here to comment.."></textarea>
									<div class="clear-both"></div>
								</div>
							</div>
					</div>
				{{/each}}
			</div>
		</div>
		<div class="clear-both"></div>
	</div>
</div>