<div id="user-view">
	<div class="MB-user-profile-top">
		<div class="top MB-boardroom-bg">
		</div>
		<div class="MB-user-profile-photo glass-effect"><img src="{{user_pic}}"></div>
		<div class="MB-user-profile-top-info">
			<h1>{{user.fname}} {{user.lname}}</h1>
			{{#if isOwner}}
			{{else}}
				{{#if isStarred}}
				<div class="MB-user-star" data-starEvent="unstar"><i class="fa fa-star"></i></div>
				{{else}}div
				<div class="MB-user-star" data-starEvent="star"><i class="fa fa-star-o"></i></div>
				{{/if}}
			{{/if}}
			<h2><i class="fa fa-thumb-tack"> {{user.location}}</i></h2>
			<h3>{{user.job_title}} and <span class="job_status">{{user.job_status}}</span></h3>
			<ul class="MB-user-profile-top-social-links">
				{{#each user.social_links}}
					<a href="{{url}}" target="_blank"><li class="fa fa-{{type}}"></li></a>
				{{/each}}
			</ul>
		</div>
		{{#if isOwner}}
		<ul class="MB-user-profile-quick-links">
			<li class="MB-user-profile-quick-link"><i class="fa fa-pencil"></i>Edit Profile</li>
			<li  class="MB-user-profile-quick-link"><i class="fa fa-share-square-o"></i>Share</li>
		</ul>
		{{else}}
		<ul class="MB-user-profile-quick-links">
			<li class="MB-user-profile-quick-link"><i class="fa fa-plus"></i>Connect</li>
<!-- 			<li class="MB-user-profile-quick-link"><i class="fa fa-envelope"></i>Message</li> //No messaging feature for now
 -->			<li  class="MB-user-profile-quick-link last"><i class="fa fa-share-square-o"></i>Share</li>
		</ul>
		{{/if}}
	</div>
</div>