<div id="user-view">
	<div class="MB-user-profile-top">
		<div class="top MB-boardroom-bg"></div>
		<div class="MB-user-profile-photo glass-effect">
			<div class="upload-pic">
				<label class="filebutton">
					<i class="fa fa-refresh fa-spin pic-upload-spinner"></i>
					<i class="fa fa-camera pic-upload-button"></i>
				<span><input type="file" id="new-user-pic" name="myfile"></span>
				</label>
			</div>
			<img id="user_profile_pic" src="/getUserpic/{{user._id}}">
		</div>
		<div class="MB-user-profile-top-info">
			<h1>{{user.fname}} {{user.lname}}</h1>
			{{#if isOwner}}
			{{else}}
				{{#if isStarred}}
				<div class="MB-user-star fa fa-star" starevent="unstar"  id="star_{{user._id}}"></div>
				{{else}}
				<div class="MB-user-star fa fa-star-o" starevent="star"  id="star_{{user._id}}"></div>
				{{/if}}
			{{/if}}
			{{#if user.location}}
			<h2><i class="fa fa-map-marker user_profile_location"> {{user.location}}</i></h2>
			{{/if}}
			{{#if user.job_title}}
		<h3 class="user-profile-status"><span class="user_profile_job_title">{{user.job_title}}</span> and <span class="user_profile_job_status">{{user.job_status}}</span></h3>
		{{/if}}
			<ul class="MB-user-profile-top-social-links">
				{{#each user.social_links}}
					<a href="{{url}}" target="_blank"><li class="fa fa-{{type}}"></li></a>
				{{/each}}
			</ul>
		</div>
		{{#if isOwner}}
		<ul class="MB-user-profile-quick-links">
			<li class="MB-user-profile-quick-link MB-edit-profile"><i class="fa fa-pencil"></i>Edit Profile</li>
			<li  class="MB-user-profile-quick-link "><i class="fa fa-share-square-o"></i>Share</li>
		</ul>
		{{else}}
		<ul class="MB-user-profile-quick-links">
			{{#if isConnectedActive}}
			<li class="MB-user-profile-quick-link connected MB-user-connect" id="connect_{{user._id}}" connect="unconnect"><i class="fa fa-check"></i>Connected</li>
			{{/if}}
			{{#if notConnected}}
			<li class="MB-user-profile-quick-link MB-user-connect" id="connect_{{user._id}}" connect="connect"><i class="fa fa-plus"></i>Connect</li>
			{{/if}}
			{{#if isConnectedPending}}
			<li class="MB-user-profile-quick-link disabled  MB-user-connect" id="connect_{{user._id}}" connect="unconnect">Pending</li>
			{{/if}}			
			<li  class="MB-user-profile-quick-link last"><i class="fa fa-share-square-o"></i>Share</li>
		</ul>
		{{/if}}
		<div class="user-profile-stats">
			<div class="user-profile-connections-stats unselectable">
				{{#if user.connections.length}}
				<div class="top">{{user.connections.length}}</div>
				{{else}}
				<div class="top">0</div>
				{{/if}}
				<div class="bottom">connections</div>
			</div>
		</div>
	</div>
	<div class="MB-user-profile-bottom MB-user-bg">
		<div class="user-profile-left pull-left">
			<div class="user-profile-section bio">
				<div class="top">
					<h1>Activity</h1>
					<div class="user-profile-edit-section pull-right" data-section="activity">Edit</div>
					<div class="clear-both"></div>
				</div>
				<div class="bottom"></div>
			</div>
			<div class="user-profile-section bio">
				<div class="top">
					<h1>Bio</h1>
					<div class="user-profile-edit-section pull-right" data-section="bio">Edit</div>
					<div class="clear-both"></div>
				</div>
				<div class="bottom">
					<p class="user-bio">{{user.bio}}</p>
				</div>
			</div>
			<div class="user-profile-section skills">
				<div class="top">
					<h1>Skills</h1>
					<div class="user-profile-edit-section pull-right" data-section-"skills">Edit</div>
					<div class="clear-both"></div>
				</div>
				<div class="bottom">
					{{#each skills}}
						<h2>{{category}}</h2>
						{{#each skills}}
							<div class="user-profile-skill">{{skill}}</div>
						{{/each}}
					{{/each}}
				</div>
			</div>
		</div>
			<div class="user-profile-right pull-right">
				{{#if isOwner}}
				<form id="MB-poster-form">
				<div class="user-profile-wall-poster">
					<div class="user-profile-wall-poster-top">
						<textarea placeholder="Type your comment here..."></textarea>
					</div>
					<div class="user-profile-wall-poster-bottom">
						<ul class="user-post-type">
							<li class="fa fa-comments active"></li>
							<!-- <li class="fa fa-link"></li>
							<li class="fa fa-picture-o"></li> -->
						</ul>
						<div class="right-button">
							<div class="post-error"></div>
							<button class="MB-button primary small MB-post-button" type="submit">POST</button>
						</div>
					</div>
				</div>
				</form>
				{{/if}}
				<div class="user-posts"></div>
			</div>
		<div class="clear-both"></div>
	</div>
</div>