<div class="MB-message">
    <h1>Nail the interview,<br>Land the job.</h1>
    <ul class="MB-big-social">
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
    </ul>
    <p><i class="fa fa-quote-left"></i> Discover how simulating your next interview with an industry profressional can help you land your next position on your ladder to success.<i class="fa fa-quote-right"></i></p>
    <a class="MB-button secondary med-size" href="register">Sign up Now!</a>
</div>
<div class="hero-unit MB-boardroom-bg"></div>
<div class="overlay"></div>
<div id="MB-features-section">
    <ul class="MB-features">
        <li class="MB-feature">
            <div class="MB-icon"><i class="fa fa-pencil"></i></div>
            <div class="title">Education</div>
            <div class="subtitle">Business Use</div>
            <div class="about">Increase your hiring rate of new grads.</div>
            <div class="button"><a class="MB-button primary small" href="educationLearnMore">Learn More</a></div>
        </li>
        <li class="MB-feature">
            <div class="MB-icon"><i class="fa fa-group"></i></div>
            <div class="title">Enterprise</div>
            <div class="subtitle">Business Use</div>
            <div class="about">Increase your candidate hiring rate with a hassle free vetting process.</div>
            <div class="button"><a class="MB-button primary small" href="enterpriseLearnMore">Learn More</a></div>
        </li>
        <li class="MB-feature">
            <div class="MB-icon"><i class="fa fa-user"></i></div>
            <div class="title">Candidates</div>
            <div class="subtitle">Personal Use</div>
            <div class="about">Be prepared, and get hired for knowing the right answers.</div>
            <div class="button"><a class="MB-button primary small" href="candidateLearnMore">Learn More</a></div>
        </li>
        <li class="MB-feature">
            <div class="MB-icon"><i class="fa fa-suitcase"></i></div>
            <div class="title">Professionals</div>
            <div class="subtitle">Personal Use</div>
            <div class="about">Use your valuable professional skills and get rewarded for opening doors.</div>
            <div class="button"><a class="MB-button primary small" href="professionalLearnMore">Learn More</a></div>
        </li>
    </ul>
</div>
<div id="MB-gutter-section" class="MB-boardroom-bg">
    <p><i class="fa fa-quote-left"></i> Practice does not make perfect. Only <strong>perfect practice</strong> makes perfect. <i class="fa fa-quote-right"></i> <br> <span class="author">- Vince Lombardi </span></p>
</div>
<div id="MB-team-section">
    <h1>Our Team</h1>
    <ul class="MB-team-photos unselectable">
        <li>
            <div class="view"><i class="fa-icon-circle"></i></div>
            <div class="MB-team-photo fara" data-MBteamMemberName="fara"></div>
            <div class="MB-team-info">
                <h2 class="name">Fara Ashiru</h2>
                <p class="title">Founder/CTO</p>
            </div>
        </li>
        <li>
            <div class="MB-team-photo clee" data-MBteamMemberName="clee"><div class="view"><i class="fa-icon-circle"></i></div></div>
            <div class="MB-team-info">
                <h2 class="name">Clee Sherrod</h2>
                <p class="title">Director of Operations</p>
            </div>
        </li>
        <li>
            <div class="view"><i class="fa-icon-circle"></i></div>
            <div class="MB-team-photo earl" data-MBteamMemberName="earl"></div>
            <div class="MB-team-info">
                <h2 class="name">Earlie Clark</h2>
                <p class="title">Director of User Experience</p>
            </div>
        </li>
    </ul>
</div>
<div id="MB-gutter-section" class="MB-mail-bg">
    <p class="MB-email" ><i class="fa fa-quote-left"></i> shout@mockitbrd.com <i class="fa fa-quote-right"></i> <br> <span class="icon-under"><i class="fa fa-arrow-down"></i></span></p>
</div>
<div id="MB-contact-section">
    <h1>Contact</h1>
    <form id="MB-main-contact-form">
        <div class="MB-contact-left">
            <input type="text" name="contactName" class="required MB-contact-input-tf" id="contactName" placeholder="Name" keyev="true">
            <input type="text" name="contactEmail" class="required" id="contactEmail" placeholder="E-mail">
            <input type="text" name="contactSubject" class="required" id="contactSubject" placeholder="Subject">
      </div>
      <div class="MB-contact-right">
            <textarea class="required" name="contactMessage" id="contactMessage" rows="" cols="" placeholder="Message"></textarea>
          <button class="MB-contact-submit-button"><i class="fa fa-envelope"></i></button>
          <span id="MB-contact-error-msg"></span>
      </div>
      <div class="clear-both"></div>
    </form>
</div>
