<div id ="welcome-view">
    <div class="hero-unit MB-waiting-bg">
        <div class="MB-message">
            <h1>Nail the interview,<br>Land the job.</h1>
            <ul class="MB-big-social">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-twitter"></i></li>
            </ul>
            <p><i class="fa fa-quote-left"></i> Discover how simulating your next interview with an industry profressional can help you land your next position on your ladder to success.<i class="fa fa-quote-right"></i></p>
            <a class="MB-button ghost med-size" href="#register">Try it now</a>
            <a class="or-learnMore" href="#services">or Learn More</a>
        </div>
    </div>
</div>
